[2019-07-24 10:04] melcorr opened #3 "We need another attribute for example FQDN in the doc"
Hey,

I was reviewing the html version of the Foreman guide and see throughout

satellite.example.com

This is the standard we use in all the Satellite docs for a Fully Qualified Domain name that the user needs to substitute for their FQDN when they follow the instructions.

It should render in the code examples for Foreman as

foreman.example.com

[2019-07-24 14:37] melcorr commented on #3
Ori Rabin pointed out RHEV oVirt etc so we will have to make a list of all the upstream-downstream variations and acronyms also

[2019-07-30 11:09] rahulbajaj0509 opened #4 "Replace {project} {product version}"
We would want to change the syntax to something much better. For example:

[code]

[2019-07-30 11:37] lzap opened #5 "Iron out eth1 in the Networking chapter (4)"
The chapter tells to use eth1 for nameserver however I don't see a reason to do so. Actually we recommend to deploy Satellite on a single NIC hosts, that is the very opposite. Need to fix this.

[2019-08-14 11:21] apurvabhide opened #9 "Wrong output/url after executing "make BUILD=satellite" command"
After executing make BUILD=satellite, satellite's attributes are not getting substituted in the index.html

[2019-08-29 10:19] lzap commented on #3
For others we could probably use some generic name like `server.example.com`. But a good point.

[2019-08-29 10:27] melcorr commented on #3
@lzap This will be resolved with the large PR:

from the proposed attributes.adoc file

:foreman.example.com: satellite.example.com

[2019-08-29 10:53] lzap commented on #9
Workaround, issue `make clean` prior changing the BUILD variable. Will fix this.

[2019-08-29 11:05] lzap commented on #9
Fixed in 8773d0d4d57cf64680d88121d0bb424b669cdb78

[2019-08-29 11:05] #9 closed

[2019-08-30 09:45] lzap commented on #3
Ok shall we close this one than once merged.

[2019-09-05 17:37] melcorr opened #15 "Compute Resource Prerequisites"
I am currently working on the Amazon EC2 topic and ran into something I don't know the answer to from a Foreman perspective.

I checked had Rahul done anything with this in the VMware file he was working on, and he had not dealt with it either. We will have to deal with this for every compute resource and every new compute resource that we add, so we need to figure it out.

For example

If you che

[2019-09-06 10:43] lzap commented on #15
In Foreman we have Installation Media resource which is essentially a table: name, URL where URL is parametrized so something like http://mirrors.centos.org/centos/$major/os/$arch which will give you some URL once you associate this with Architecture and Operating System (version = major.minor). That URL is then used to download everything, just like from Pulp in Satellite 6. So the only differenc

[2019-09-06 10:55] #3 closed

[2019-09-06 10:56] melcorr commented on #15
Perfect, thanks for the information.

[2019-09-06 10:56] #15 closed

[2019-09-06 20:21] lzap opened #20 "Fix all links"
We have several types of links:

* `link:/html/content_management_guide/importing_red_hat_content#Importing_Red_Hat_Content-Synchronizing_Red_Hat_Repositories[Synchronizing Red Hat Repositories]` (converted by upstreamize)
* `https://access.redhat.com/documentation/en-us/red_hat_satellite/6.4/html/installing_satellite_server_from_a_connected_network/preparing_your_environment_for_installation#port

[2019-09-14 06:27] lzap opened #23 "Extract provisioning prerequisites"
These bullets are very often same (installation media, activation keys), maybe it is worth extracting them into a separate adoc file and including it everywhere.

[2019-09-16 11:51] rahulbajaj0509 commented on #23
By everywhere, do you mean at the start of all the chapters? Sorry, not sure, can you explain?

[2019-09-16 12:00] lzap commented on #23
I mean those bullet points do appear a bit same, thus I opened this ticket to investigate more.

[2019-09-19 15:38] melcorr commented on #23
I think sometimes there can be slight differences, but I have no problem looking into this and seeing is it worth it. I think that they are copied/pasted after verifying that each new compute resource needs each thing.

[2019-09-19 16:00] ekohl opened #29 "Use of --foreman-proxy-dns-server in the Networking chapter"
In the networking chapter there's `--foreman-proxy-dns-server "192.168.140.2"` but I don't see why. This can be localhost which is more likely to work. Note this is the address `foreman-proxy` uses to connect to the dns server. The default is `127.0.01` which should work.

[2019-09-20 08:25] melcorr opened #31 "Attributes not rendering properly in code examples"
I noticed this while working on the VMware content. On preview, the attributes are visible rather than the values.

I can see it throughout the Libvirt chapter also.

Any idea why this isn't working?

[2019-09-20 09:16] lzap opened #32 "Replace Infoblox_hostname with infoblox_hostname"
I hate hostname Infoblox_hostname I vote for changing this to simply infoblox-host. Issues:

*    hostnames should always be lowercase
*    dashes preferred over underscore
*    it is a host not hostname

[2019-09-20 13:18] lzap opened #33 "Rewrite FIPS chapter in Provisioning Guide"
FIPS templates have been merged into community-templates repo and are now part of Foreman. They are under different name now:

https://github.com/theforeman/community-templates/pull/560/files

[2019-09-20 13:34] lzap commented on #31
Isn't this just missing subs attributes? Compare:

[code]

to

[code]

[2019-09-20 13:36] melcorr commented on #31
I'm pretty sure they have both and are still not rendering.

[2019-09-24 08:51] lzap opened #34 "Explain DHCP options"
We should explain this a bit more in the prov guide:

https://community.theforeman.org/t/foreman-and-dhcp-options-explained/15127

[2019-09-26 07:18] lzap commented on #31
Found the issue, we must avoid dot in the attribute names.

[2019-09-26 07:19] lzap commented on #31
https://github.com/theforeman/foreman-documentation/pull/35

[2019-09-26 07:19] #31 closed

[2019-10-01 15:20] melcorr opened #38 "Satellite docs is not building at all"
[mcorr@mcorr doc-Provisioning_Guide]$ make Build=satellite
asciidoctor -a build=foreman -b xhtml5 -d book -o ../build/doc-Provisioning_Guide/index-foreman.html master.adoc

Any idea what's happening?

I did a make clean and cannot build any Satellite file.

[2019-10-03 14:25] lzap commented on #38
From our README:

To build downstream version perform `make BUILD=satellite`.

And it works, it's case sensitive!

[code]

[2019-10-03 14:25] #38 closed

[2019-10-04 11:17] melcorr commented on #38
Thanks

[2019-10-04 12:11] lzap opened #43 "Integrate 5.4 Running arbitrary commands after boot"
Into provisioning guide from https://theforeman.org/plugins/foreman_discovery/15.0/index.html

[2019-10-04 12:12] lzap opened #44 "Integrate 3.1.5 Discovery image kernel options"
Into provisioning guide from https://theforeman.org/plugins/foreman_discovery/15.0/index.html

[2019-10-04 12:13] lzap opened #45 "Integrate 6.1 Troubleshooting into prov guide"
Into provisioning guide from https://theforeman.org/plugins/foreman_discovery/15.0/index.html

[2019-10-07 08:58] melcorr commented on #45
This may not happen in this format. We will have to uphold current documentation conventions of Red Hat. When I get through everything for this guide, I will look into this. An article might be best for this.

[2019-10-07 12:35] lzap commented on #45
@ares actually brought this topic on our meeting today and we would like to be better in providing troubleshooting information and we agreed that the new documentation could be a new place for this. If this is a problem we can hide those sections from downstream, or even create a dedicated Troubleshooting Guide that would not be built downstream.

[2019-10-07 12:40] melcorr commented on #45
The problem with Troubleshooting guides is that they very quickly become a dump of a thousand different things. Ideally the information is in the relevant sections of the doc so that the user doesn't need to troubleshoot. However, I know that is easier said than done. I will think about how best to approach this.

[2019-10-07 13:46] melcorr commented on #45
Note to selft: can we discuss "verification steps" in our next meeting.

[2019-10-08 11:27] #34 closed

[2019-10-08 11:34] melcorr commented on #44
This will require work before it can be integrated with the docs here.

If we're going to accept them into the improved doc set, they'll need a more robust definition that covers the "who, what, where, how and why" of each option.

It is missing context for a new user: where do you set this option? Can one or more of these options be set at the one time? If so, are there any known successful combi

[2019-10-08 11:35] melcorr commented on #43
A more concise version of this should be added after the procedure for provisioning with Discovery

[2019-10-08 11:50] melcorr opened #48 "Update Kickstart options upstream"
https://bugzilla.redhat.com/show_bug.cgi?id=1757152

[2019-10-08 12:07] melcorr opened #49 "Adding a note to Bare_Metal.adocs"
@lzap  suggested as part of PR #42
adding to line 60:

NOTE: PXE workflows can be used to provision virtual machines which are not under {Project} control as well."

moving here for later discussion

[2019-10-08 12:12] melcorr opened #50 "Look into improving this sentence of all provisioning procedures"
@lzap commented the following on this line that exists in all provisioning procedures:

. Ensure that {ProjectServer} automatically selects the *Managed*, *Primary*, and *Provision* options for the first interface on the host. If not, select them.

It tells you to check something that Satellite always does. It's useless, but more than that - at this point we should be providing important informati

[2019-10-09 08:51] lzap opened #52 "Break app_create_images.adoc into modular parts"
We currently hide this little bit irrelevant appendix. Let's break it into modules:

* rhel6
* rhel7
* fedora

And assembly those accordingly.

[2019-10-09 09:12] melcorr commented on #20
Shall we close this issue now @lzap  ? As part of PR #51

[2019-10-09 09:36] lzap opened #54 "Create a generator for installer options"
Our installer options table on official site is generated:

https://theforeman.org/manuals/1.23/index.html#3.2.2InstallerOptions

We must do the same for adoc format (as an appendix perhaps):

https://github.com/theforeman/theforeman.org/blob/gh-pages/scripts/installer/installer-enable-to-table

[2019-10-09 09:42] melcorr commented on #54
I don't think we will be doing this, as I said to @ewoud, we do not document file dumps.

[2019-10-09 10:14] #20 closed

[2019-10-09 10:16] lzap commented on #44
It definitely needs a rework, thus the issue created.

[2019-10-09 10:20] lzap commented on #54
Let's not close this one, things are not black or white now. We will be proposing a lot of thing you will not like for downstream, however that does not block us from creating such a content and only showing it upstream.

File dump is very generic term, we have a way of sticking a documentation sentence for each individual installer option. If you find those description too vague or short, let's f

[2019-10-09 10:24] melcorr commented on #54
@lzap,
There is a certain standard these docs will have to uphold and the docs team conventions and standards will be the ones that are followed.
We are supposed to be focussing on opinionated docs. That was what the downstream docs had to offer.

I disagree completely with this approach and would be willing to invest time on the hammer command rather than dumping into docs.
If we proceed with thi

[2019-10-09 10:41] ekohl commented on #54
@melcorr I understand that dumping huge generated files is not desirable in most situations, but there may be an interesting subset of it. For example, we could extract a list of exposed plugins. Browsing reference documentation is for me, an advanced user, what I look for the most. Guides are more aimed at beginners. Once it's set up, reference documentation becomes the primary thing I look at.

[2019-10-09 10:48] melcorr commented on #54
OK :)

For dumps, you could add a html file to the installer, just like for the API docs. I am happy to work on better definitions for hammer help also. I think that's as important as the docs.

If you have use cases, we can also create an advanced user guide with the subsets that illustrate the user scenarios you identify. If we isolate what is relevant and what is useful from the dump, that is e

[2019-10-09 10:59] ekohl commented on #54
For the installer we do have `--help` and `--full-help`. For the foreman scenario we also generate `man foreman-installer` but don't do that for other scenarios which means it's also useless in downstream where the foreman scenario is not supported (and thus a misleading manpage). There's still so much to improve.

I'd be disapointed if you didn't push back on things you disagree with ;)

Btw, one

[2019-10-09 14:17] melcorr opened #55 "Update attribute for foreman-maintain/satellite-maintain"
As part of this bug:

https://bugzilla.redhat.com/show_bug.cgi?id=1759615

[2019-10-09 17:08] melcorr opened #57 "Update hammer command in for vmware create"
As per this change:

https://bugzilla.redhat.com/show_bug.cgi?id=1758530

[2019-10-10 09:29] melcorr commented on #55
Just realised we had one. Silly me.

[2019-10-10 09:29] #55 closed

[2019-10-10 14:11] #48 closed

[2019-10-11 09:48] melcorr commented on #44
Foreman discovery image currently recognizes the following list of configuration options:

Where are these configuration options set?

[2019-10-14 11:47] lzap opened #61 "Document efibootmgr_netboot"
Foreman workflow is based on setting all managed servers to boot from network and then from HDD, therefore Foreman can decide if to reinstall OS or exit PXE and boot from secondary device (HDD). But in EFI world, this does not work reliably - OS installer usually creates a new EFI entry as the first, so after restart the server boots into the new system. The issue is reprovisioning - when the host

[2019-10-15 16:30] #57 closed

[2019-10-23 06:07] lzap opened #65 "Add info about monitoring to an external PCP instance"
After we migrate Monitoring Guide this must be the very first change. We want to allow PCP running on RHEL7 to send data over network to PCP running on RHEL8 to leverage modern Grafana visualization software.

[2019-10-23 08:13] melcorr commented on #65
All of this is external to Satellite so we need to focus on how to retrieve this information via Satellite.

Where can I find more information/notes about that?

[2019-10-23 14:26] #23 closed

[2019-10-23 14:32] #29 closed

[2019-10-23 16:17] #32 closed

[2019-10-30 13:39] lzap commented on #44
In the PXELinux (Grub/Grub2) Default Kickstart (Preseed) template. They all use snippets:

* https://github.com/theforeman/community-templates/blob/develop/provisioning_templates/snippet/pxelinux_discovery.erb
* https://github.com/theforeman/community-templates/blob/develop/provisioning_templates/snippet/pxegrub_discovery.erb
* https://github.com/theforeman/community-templates/blob/develop/provisi

[2019-10-30 13:40] lzap commented on #65
Sorry what?

[2019-10-30 13:45] melcorr commented on #65
You're talking about this, aren't you:

https://bugzilla.redhat.com/show_bug.cgi?id=1654815

And being able to work with this in Satellite?

I suppose perhaps I am not sure what you're talking about. However we won't be adding any docs relating to PCP on RHEL7. They are for the RHEL team to figure out. Anything we add has to be instructions relating directly to Satellite.

[2019-10-31 15:41] lzap opened #66 "Integrate pmdastatsd into Monitoring Guide"
This can only be integrated after Satellite runs on RHEL 8 (PCP 5.x) because the agent will not be backported to RHEL7.

[code]

[2019-11-19 10:51] lzap opened #71 "HTTP boot installer remark"
Once we get there (I think this is still undocumented) we need to make sure these params are present:

    foreman-installer --foreman-proxy-httpboot=true --foreman-proxy-http=true --foreman-proxy-httpboot-listen-on=both

[2019-11-19 13:35] ekohl commented on #71
The `--foreman-proxy-httpboot-listen-on=both` option matches the default.

`--foreman-proxy-httpboot=true` should not be needed if `--foreman-proxy-fttp=true` is passed (default). If you want to be explicit, then you should add that too. Otherwise I'd simplify it to:
[code]

[2019-11-27 10:35] lzap opened #73 "Add info about expected interface names"
Foreman expects network devices to follow some naming scheme in order to detect them correctly. For example if bond is named "mybond0" it will not be correctly detected and host registration (through puppet, ansible or rhsm) will fail. It must be named "bondN" where N is a number. Similar rules apply for others. We need to out this into some guide.

[2019-12-03 14:02] lzap commented on #65
Well it's related, but it's something else. This is a note for me, sometime in late 2020 I should work on this.

[2019-12-05 10:36] melcorr commented on #5
@lzap this seems important. Perhaps we can revisit it soon so I can better understand the problem and fix?

[2019-12-16 08:09] lzap opened #74 "Dynamic parititioning scheme"
I've noticed that we have an undocumented feature (surprise!): dynamic partitioning scheme. Since Foreman does not ship with any dynamic partitioning scheme, I've decided to file a PR to include one with the following explanation:

When a partition template contains line starting with "#Dynamic", the contents will be put into %pre shell scriplet rather and it's expected it creates a file "/tmp/dis

[2020-01-31 14:41] melcorr opened #89 "Upstreamize.rb need foreman-maintain and foreman-installer"
In PR #86 I noticed that the Upstreamize.rb script did not catch
As part of that PR, I've added satellite-maintain as an attribute.
Let's add them to the file for future use.

[2020-02-10 11:53] melcorr commented on #50
This will be easier when we move Managing Hosts guide upstream

[2020-02-13 13:02] #89 closed

[2020-02-21 13:11] lzap opened #111 "Better book titles upstream"
On our front page we currently have:

* Installing Foreman on RHEL/CentOS
* Installing Smart Proxy on RHEL/CentOS
* Installing Foreman on Debian/Ubuntu
* Installing Smart Proxy on Debian/Ubuntu

https://docs.theforeman.org/web/

But when you open these it reads e.g. "Installing Foreman server from a Connected Network". We should probably change these titles to match the front page or come up with

[2020-02-21 16:39] ekohl opened #112 "Debian installation docs mention Katello requirements"
https://docs.theforeman.org/guides/build/doc-Installing_Capsule_Server/index-foreman-deb.html lists some services that are not relevant.
* postgres
On EL7 this is because of Pulpcore (Pulp 3), not relevant on Debian
* mongodb
On EL7 this is because of Pulp 2, not relevant on Debian
* apache
On EL7 this is because of a reverse proxy setup for RHSM, not relevant on Debian
* tomcat
This isn't true fo

[2020-02-21 16:44] ekohl commented on #112
Looking a bit further down the list, it may be useful to know that what downstream calls a capsule, upstream calls foreman_proxy_content. This concept does not exist on Debian. There we only have Foreman Proxy with its optional services. I still need to rework it into a blog, but on https://cfp.cfgmgmtcamp.be/2020/talk/ZEW3FP/ there's my slides attached (https://cfp.cfgmgmtcamp.be/media/foreman-ar

[2020-02-21 17:07] melcorr commented on #112
Thanks @ekohl - I am very glad of your help with this. I will implement these changes. I have someone lined up to do a review of the Debian guide - but it is far from ready - no file paths are correct for Debian yet, nor are any of the commands verified.

[2020-02-24 16:26] #4 closed

[2020-02-25 07:22] lzap opened #115 "Errata management guide link broken"
[code]

We should not be merging any PR which has red validation tests. Master is currently broken, there are more of these.

[2020-02-25 07:32] lzap commented on #115
One more:

[code]

[2020-02-25 08:28] melcorr commented on #115
@lzap I updated the Product version to 6.7-beta so that some of the current links that did not exist in 6.6 would be fine, but these two links are not present for the beta, only in 6.6. So, if I go back to 6.6, I will break other links. This was the problem I mentioned on our call a few weeks ago, and this will be a recurring issue as we come close to releasing every time.

We have not been mergin

[2020-02-25 09:53] melcorr commented on #115
Attribute to fix this is part of PR #114

[2020-02-26 16:01] melcorr commented on #115
This is resolved as part of #114

[2020-02-26 16:01] #115 closed

[2020-02-26 16:02] melcorr commented on #111
Directory names have been updated as part of #114

[2020-02-26 16:02] #111 closed

[2020-03-05 12:57] lzap opened #124 "Document behavior for various facts"
Foreman performs some actions for some facts, according to its configuration. This can be often confusing for users, let's document it somewhere.

| Fact provider | Fact name | Description | Configurable |
| --- | --- | --- | --- |
| Puppet | environment | Updates Host's Puppet environment from fact overwriting its previous value | Administer - Setting - Puppet - Update environment from facts |

T

[2020-03-19 10:14] lzap opened #131 "Add docs for DHCP maintainaince rake task"
There will be new command that allows synchronizing of DHCP records between Foreman database and DHCP smart proxy. I fail to find a good place for this, I was thinking Provisioning Guide appendix but it does not feel right. Thus creating a ticket to decide. It's short, mostly it's documented in its help text:

https://github.com/theforeman/foreman/pull/7073/files

[2020-03-19 10:22] melcorr commented on #131
Hi @lzap

Can you provide some additional information.

What projected Foreman release will this be a part of?

I would suggest that we add another section after this section here so we can keep a lot of the DHCP admin tasks close together:

http://docs.theforeman.org/guides/build/doc-Provisioning_Guide/index-foreman.html#_foreman_and_dhcp_options

What do you think?

So this is just a command and

[2020-03-19 10:46] lzap commented on #131
Two commands which compares Foreman DB (hosts) and DHCP Smart Proxy (reservations). One adds all missing entries to DHCP, the other deletes unexpected entries on DHCP.

User must be warned that this expects that all DHCP records (aka reservations) are managed by Foreman. This can easily clear out reservation made by some other programs or humans. That's all.

Ideally, you don't need to do this. Wh

[2020-03-19 12:45] melcorr commented on #131
Ok so maybe an entry into the Troubleshooting section in Provisioning guide:

http://docs.theforeman.org/guides/build/doc-Provisioning_Guide/index-foreman.html#_troubleshooting_dhcp_problems_in_foreman

Then a link to this in a note in the upgrading guide.

Is there a way for us to reference the PR here so we know when this is merged to have an idea which version this will be targeted for?

Thanks

[2020-04-21 07:19] lzap opened #146 "Add multiple subnets docs"
We need to add this to install guides:

https://theforeman.org/plugins/katello/3.11/installation/index.html#multiple-subnets-and-domains

[2020-05-04 10:05] lzap opened #153 "Disconnected installation"
We have removed disconnected procedure because upstream it is very different.

Now we have a tutorial for upstream, we could incorporate this into docs:

https://community.theforeman.org/t/installing-foreman-in-an-air-gapped-environment/18518

[2020-05-04 14:53] spetrosi opened #154 "Missing repos in Install guides"
The [Installing Foreman server]( http://docs.theforeman.org/guides/build/doc-Installing_Server_on_Red_Hat/index-foreman.html#_installing_foreman_server) guide in 2.1.1 Configuring Repositories does not enable some required repositories as described in the [Foreman Manual](https://theforeman.org/plugins/katello/3.15/installation/index.html)]
Specifically, it does not enable the following two repos:

[2020-05-06 10:55] spetrosi commented on #154
I have opened [BZ#1832217](https://bugzilla.redhat.com/show_bug.cgi?id=1832217) to fix it

[2020-05-06 15:02] melcorr opened #158 "Custom content should not be referred to as custom upstream"
In https://community.theforeman.org/t/howto-for-own-rpms-on-foreman-katello/18577/7 points out, very validly how custom content is probably all content in the upstream that is not Red Hat, and the custom is a term that doesn't add value upstream.

I would suggest introducing an attribute to refer to it either simply as 'content' or 'non-Red Hat content'.

Some of the wording might need to be refin

[2020-05-15 12:28] #154 closed

[2020-05-18 16:32] melcorr commented on #112
This is now fixed

[2020-05-18 16:32] #112 closed

[2020-05-20 12:40] lzap opened #173 "Describe new dynflow scaling (2.1)"
https://github.com/theforeman/theforeman.org/pull/1592

[2020-06-01 09:34] spetrosi opened #187 "Document Registering Hosts upstream"
The Registering Hosts section that is available downstream is hidden upstream because of information about subscriptions that is irrelevant upstream.
From @lzap :

It is required to review the section and make it usable upstream too.

[2020-06-03 15:33] ekohl opened #189 "Use the correct installer options for additional DHCP interfaces"
https://github.com/theforeman/foreman-documentation/blob/master/guides/common/modules/proc_configuring-dns-dhcp-and-tftp.adoc suggests to edit /etc/systemd/system/dhcpd.service.d/interfaces.conf manually, but this is not needed. It's needlessly OS specific and the installer option `--foreman-proxy-dhcp-additional-interfaces eth1 --foreman-proxy-dhcp-additional-interfaces eth2`

[2020-06-03 15:40] ekohl opened #190 "Avoid /etc/foreman-installer/scenarios.d"
This directory will be moved in the future (probably `/var/lib/foreman-installer`) to signify the user is not supposed to modify these files. The way I look at it is that it's similar to suggesting open a database console and `SELECT * FROM settings` rather than going to the settings page.

Would it be better to suggest `foreman-installer --full-help` and let users look at `(default: $VALUE)` inst

[2020-06-09 13:12] melcorr opened #192 "baseURL parameter not fulfilling upstream requirements - how to handle URLS"
Hi,

The http://docs.theforeman.org/guides/build/doc-Deploying_on_AWS/index-foreman.html#_use_cases_known_to_work section has links only to Satellite docs, when all these doc links are now upstream.

Please add an equivalent.

[2020-06-10 08:17] lzap opened #194 "Remove Satellite word from directory name"
I think we should not use either Foreman or Satellite in directory names: `doc-Installing_Satellite_Server_Disconnected`. They are mapped to URLs and also information value is zero, the shorter URL the better.

[code]

In general, we should keep them as short as possible regardless of the actual book title. If you can identify and set up some naming rules, go ahead and put this into the README. @s

[2020-06-10 08:30] melcorr commented on #194
Agreed, and the only reason this is left is because it is a downstream only guide with no upstream application, or else it was before I left!

[2020-06-10 08:34] lzap commented on #192
Yeah we need to get rid of absolute URLs, there is a macro for base url when needed.

[2020-06-10 09:33] tahliar commented on #194
Although all the downstream teams I've worked on have always tried to keep the directory names matching the book titles, I'm not sure if it was actually a rule or just a thing people did.

So I'm more than happy to use a shorter standard upstream, as it's easy for us to map the directory names to each other in the sync script - or even to adopt it downstream when we create new guides, e.g. doc-Dep

[2020-06-20 15:09] melcorr opened #201 "Tech Previews still listed upstream in Admin guide"
In the Administrating guide, tech previews are still listed:

http://docs.theforeman.org/guides/build/doc-Administering_Red_Hat_Satellite/index-foreman.html#chap-Red_Hat_Satellite-Administering_Red_Hat_Satellite-Configuring_External_Authentication

[2020-06-25 11:59] lzap commented on #194
There's more now :-) `doc-Administering_Red_Hat_Satellite`

[2020-06-30 13:52] #201 closed

[2020-06-30 13:52] melcorr opened #210 "Satellite Versions appearing as Foreman in Managing Hosts guide"
http://docs.theforeman.org/guides/build/doc-Managing_Hosts/index-foreman.html#chap-Red_Hat_Satellite-Managing_Hosts-Integrating_Satellite_and_Ansible_Tower

Will fix later.

[2020-07-09 12:34] spetrosi opened #213 "Debian/Ubuntu install guides contain not working scenarios"
@ekohl noticed that Installing on Ubunthu/Debian guides contain scenarios that do not work on those OSes. Here is his feedback:

- http://docs.theforeman.org/guides/build/doc-Installing_Proxy_on_Debian/index-foreman-deb.html#configuring-capsule-default-certificate_smart-proxy
Section 2.5. Configuring Smart Proxy server with a Default SSL Certificate in the Installing an External Smart Proxy Server

[2020-07-09 13:11] melcorr commented on #213
Hi @ekohl thanks so much for this.

with regards to the first point:

`   http://docs.theforeman.org/guides/build/doc-Installing_Proxy_on_Debian/index-foreman-deb.html#configuring-capsule-default-certificate_smart-proxy
    Section 2.5. Configuring Smart Proxy server with a Default SSL Certificate in the Installing an External Smart Proxy Server on Debian guide does not work because the foreman-pr

[2020-07-09 14:04] ekohl commented on #213
Probably, but this is all covered in the official manual: https://theforeman.org/manuals/2.1/index.html#3.2.3InstallationScenarios

Just know that anything that uses `--scenario katello` or `--scenario foreman-proxy-content` doesn't work on Debian. Only `--scenario foreman` exists there. The installer will automatically select a scenario if there is only one. That's why you never see `--scenario`

[2020-08-12 08:52] ckyriakidou opened #235 "Change wording in Load Balanced configuration to quantify support for Provisioning"
https://bugzilla.redhat.com/show_bug.cgi?id=1865846
"Provisioning hosts is not supported in the Satellite load-balanced setup." The previous statement does not make it clear that provisioning/virt-who or other content is supported to be installed on the individual capsules that are load balanced but not the HA itself.

Suggestions for improvement:
The Load Balanced setup offers high availability f

[2020-08-17 08:19] #235 closed

[2020-08-18 16:04] #210 closed

[2020-08-18 16:08] melcorr commented on #192
Hi @spetrosi @lzap

I see that the baseURL is a common attribute that is not defined dependent on upstream/downstream

Are we in a position now to set the upstream baseurls?

@spetrosi there are only small guides that are left to migrate upstream, aren't there?

[2020-08-19 10:28] spetrosi commented on #192
I will test how guides work with BaseURL pointing to docs.theforeman

[2020-08-19 10:49] spetrosi commented on #192
My tests resulted in sad results:
Let's compare links for the same section up- and downstream:
- https://docs.theforeman.org/master/Administering_Red_Hat_Satellite/index-foreman.html#sect-Red_Hat_Satellite-Administering_Red_Hat_Satellite-Installing_the_Katello_Root_CA_Certificate
- https://access.redhat.com/documentation/en-us/red_hat_satellite/6.7/html/administering_red_hat_satellite/chap-red_hat

[2020-08-19 10:51] melcorr commented on #192
Thanks @spetrosi
I had similar findings yesterday...but i was hoping it was because I was doing something stupid because I forget things.

[2020-08-20 05:55] #158 closed

[2020-08-24 14:03] melcorr commented on #192
@lzap
Any idea how we can get around this without writing ifevals for links?

[2020-08-24 15:15] spetrosi commented on #192
My idea is that we need to somehow publish the upstream documentation in the same way that the downstream docs are published:
1. To publish in multi-paged HTML.

2. To ensure that the URLs upstream use the same format that downstream does - {BaseURL}/guide_name/chapter_name#section_name.

I now look at how we can accomplish this.

[2020-08-25 10:02] melcorr commented on #71
Is this now resolved:

https://docs.theforeman.org/master/Provisioning_Guide/index-foreman.html#creating-hosts-with-uefi-http-boot-provisioning_provisioning

[2020-08-31 08:11] lzap commented on #71
Yes thank you.

[2020-08-31 08:11] #71 closed

[2020-08-31 08:24] lzap commented on #192
Option 1: Ignore.

This will be only temporary problem until we migrate all books. We can simply ignore this problem and prefer Red Hat Satellite links (so Foreman links are broken for some time - it's WIP anyway and not many of them are broken).

Option 2: Use symlinks

We can *probably* setup symlinks on our upstream site so it works. Multipage links are completely different from what we have up

[2020-09-07 06:16] lzap commented on #192
This is a followup of the IPv6 PR discussion (see above).

Are you saying that if a link targets module, we can't use reference? What is the point? I hope we can actually converge to having just xrefs without absolute URLs.

[2020-09-08 15:13] melcorr opened #256 "Broken xref in Managing Hosts guide"
https://docs.theforeman.org/master/Managing_Hosts/index-foreman.html#sect-Red_Hat_Satellite-Managing_Hosts-Adding_a_Host_to_a_Host_Collection

I will try fix it this week

[2020-09-10 08:03] spetrosi commented on #192
New option has arrived:
Downstream, we can link to the single-paged html version of docs. This will require manually changing all the links that are currently used. For example, chang this link:
`https://access.redhat.com/documentation/en-us/red_hat_satellite/6.7/html/administering_red_hat_satellite/chap-red_hat_satellite-administering_red_hat_satellite-accessing_red_hat_satellite#sect-Red_Hat_Sat

[2020-09-10 08:06] spetrosi commented on #192
One more difference in the single-paged html links: Foreman uses `index-foreman.html` and Satellite uses `index`. Where does this come from? It will be great if we can make Foreman do just `index`, but at the same time we can use an attribute to manipulate this.

[2020-09-10 08:27] melcorr commented on #192
Single paged HTML causes accessibility issues for our customers in low bandwidth and that is the motivation behind multi-page HTML being the default.

[2020-09-10 09:02] lzap commented on #192
Another idea: I can write a script that will change links during downstream syncing process. I assume that all links are on single line (no links are broken into multiple lines) therefore this would be possible with just sed command.

[2020-09-11 10:10] melcorr commented on #192
I take back what I said about accessibility earlier because this practice will be done away with regardless of whether it is a good or bad move.

[2020-09-16 06:50] #256 closed

[2020-09-22 08:33] melcorr opened #269 "Red Hat web console/Cockpit attributes missing"
means we can't really use this guide upstream because the community member expects Cockpit

[2020-09-22 13:47] lzap opened #272 "Document all template parameters"
WIP document here:

https://docs.google.com/spreadsheets/d/1ryY6igvVX08-5EPZf1WiaEDArhY2N7luq-55Px0Qru0/edit?usp=sharing

[2020-09-23 14:33] #269 closed

[2020-09-24 13:22] melcorr commented on #74
@lzap  did this PR get remade on the new repo?

[2020-09-24 15:47] melcorr commented on #272
Hi @lzap

As I've mentioned before, the chance of this type of documentation happening is very slim.

I think that these type of reference docs are best baked into the UI, in the same way the API docs and the way the templates have a help tab already.

What I would suggest is that these get documented in either the web UI or in the hammer commands, then we educate the user on how to find a list of

[2020-10-02 13:01] lzap opened #276 "SSH finish EC2 note"
An observation for https://docs.theforeman.org/master/Provisioning_Guide/index-foreman.html#Provisioning_Cloud_Instances_in_Amazon_EC2

Finish SSH template will only work when Foreman Server is inside of EC2 in the correct security group. Foreman currently performs SSH finish provisioning directly, not using smart-proxy, therefore it needs to be present wihtin EC2 to be able to connect. If its not

[2020-10-12 10:29] lzap commented on #272
We will be actually adding this into the project, but I think it would be a good appendix. Similarly we will want to add all options of our installer. Both of these can be show via a command.

I understand your concern of preventing the content from going out of sync, I would never suggest such thing if there wasn't automated way of generating this. That was the idea.

[2020-10-12 10:29] lzap commented on #74
Yes I think we can close this one.

[2020-10-12 10:38] #74 closed

[2020-10-12 10:59] melcorr commented on #272
Excellent.

If we are autogenerating it, is this the correct place to have a ticket for it? Most of the docs created here are written by hand :-)

[2020-10-13 11:22] lzap commented on #272
It was a ticket for myself, but I don't mind closing this.

[2020-10-13 11:22] #272 closed

[2020-10-13 11:36] ekohl commented on #272
For what it's worth: I think that autogenerated documentation can be useful as reference documentation. As long as it's clearly marked as such, it can be useful. For example, keeping a list of all settings and what they mean is useful reference documentation. If you can link to each individual setting, it's useful when supporting someone.

We have also seen that a manual list is often forgotten. G

[2020-10-13 11:57] melcorr commented on #272
I agree completely, @ekohl !

@lzap I don't mind it being open here, but just wanted to clarify the *how to solve* this.

[2020-10-13 12:05] ekohl commented on #272
https://github.com/theforeman/theforeman.org/tree/gh-pages/scripts has some scripts to generate parts. These are then mentioned in the release procedures (like [here](https://github.com/theforeman/tool_belt/blob/66106cbc47555cb7c1e991da48a890465648be6c/procedures/foreman/release.md.erb#L7). That's how we can keep things up to date.

You can choose a directory structure where there's something like

[2020-10-13 12:11] lzap commented on #272
Good idea, thanks for the links I will use this know-how when starting on moving installation guide here hopefully this week.

[2020-10-16 07:46] melcorr opened #287 "Fix broken xref"
https://docs.theforeman.org/master/Provisioning_Guide/index-foreman.html#using-an-image-builder-image-for-provisioning

For more information about bare metal provisioning, see [Provisioning_Bare_Metal_Hosts]. For more information about provisioning with different compute resources, see the relevant chapter for the compute resource that you want to use.

[2020-10-27 11:09] melcorr commented on #287
This is fixed and I did nothing! Thanks!

[2020-10-27 11:09] #287 closed

[2020-10-28 00:51] lamek opened #294 "Add header or link to homepage"
I think a small but impactful improvement would be a way for the viewer to navigate easily back to the homepage. Right now when viewing a guide there's no visual place you can click to get home.
![image](https://user-images.githubusercontent.com/3738757/97377295-1320a680-1896-11eb-873d-fa32e043d1f4.png)

Some ideas:
* add "Home" above the toc and link to the home page
* add Foreman logo above toc

[2020-10-28 01:17] lamek commented on #294
I would love to try suggesting some code to help with this but I can't find where "Table of Contents" is generated from. I tried searching the repo for "Table of Contents" and a few ids and classes, but no luck.

Any help is appreciated.

[2020-10-28 08:35] melcorr opened #295 "satellite-installer used rather than variable"
Here

https://docs.theforeman.org/master/Administering_Red_Hat_Satellite/index-foreman.html#chap-Red_Hat_Satellite-Administering_Red_Hat_Satellite-Configuring_your_Deployment_to_Run_Ansible_Roles

[2020-10-28 09:20] melcorr opened #297 "attribute.adoc file not updated?"
Hi @spetrosi @suyogsainkar

Can you explain to me why the attribute.adoc file is not updated for the 6.8 release?

Also I see that in #293 links are being manually updated rather than using ProductVersion variable. This seems suboptimal and regressive and will lead to problems a few weeks down the road.

What's the thinking here?

[2020-10-28 13:35] maximiliankolb commented on #192
Hey all.
We at ATIX are currently evaluating how to incorporate upstream documentation to our own downstream docs. We settled on asciidoc as per requirement by Red Hat and choose [Antora](https://antora.org) to built the website.

We are using `xref:path/to/file.adoc[fancy title]` to set internal cross references from one page to another.

I would prefer a solution that allows us to comfortably ch

[2020-10-29 09:30] spetrosi commented on #297
The version numbers for 6.8 have been updated in the SATELLITE-6.8 branch. This has been done so because checks in this repository check links against the master branch, so if we update attributes on master, all the links will fail. Substituting the attributes during synchronization did not work because we have been syncing several branches with the same script - SATELLITE-6.7, 6.8, 6.8-beta.
So m

[2020-10-29 10:52] melcorr commented on #297
Thanks for the explanation @spetrosi

Hopefully @suyogsainkar or @lamek can fix the error that was introduced sometime soon before it comes back to bite.

[2020-10-29 10:57] spetrosi commented on #297
For the record, I was able to find PRs opened for the SATELLITE-6.8 branch by using the `is:pr is:closed base:SATELLITE-6.8` filter when searching PRs on our repo.
However, the filter also finds PRs opened for `SATELLITE-6.8-beta` branch, because this string includes SATELLITE-6.8 in it, no idea how to restrict the filter.
I have cherry-picked changes to attributes.adoc to master.

[2020-10-29 12:24] #295 closed

[2020-10-29 12:42] #276 closed

[2020-10-29 16:22] suyogsainkar commented on #297
@melcorr Thanks for raising this issue. I spotted the beta link the other night and rushed into making that change without using the attribute; my apologies. This has been fixed in #302

[2020-10-29 16:42] #297 closed

[2020-11-02 17:18] lzap commented on #276
Thank you!

[2020-11-02 17:34] lzap commented on #192
Antora's output looks great, however I wonder how much compatible this can be with the original AsciiDoc (which is written in Ruby). Red Hat documentation team uses the original AsciiDoc with some legacy pipeline which generate artifacts. That's why we started with less intrusive make. Granted the final output is not ideal and this is something we yet need to solve.

My idea was set of Makefiles a

[2020-11-09 17:53] melcorr opened #310 "Change all the xrefs to hard links"
As part of #305 a lot of content was modularized so it could suit both upstream/downstream as well as Ansible REX and plain REX guides.

The xrefs can be problematic with FCC, so it's best to add hard links.

Once the PR is merged, I will go back and swap out the xrefs for hard links.

[2020-11-10 18:55] maximiliankolb commented on #192
The main selling point for me is the optional search capabilities as well as the navigation. Having a lot of stand alone html output files is not always sufficient. Let me know if I can showcase something to you.

Apart from that (and back to topic), I hope as much as possible customisation can be handled via variables as seen in the `attributes.adoc` file.

[2020-11-23 14:23] lzap commented on #294
Hello, thanks for report. We are in process of moving to this new documentation, one of the next items to solve is some template that will add required button or picture. For now, use back button, it's on our radar.

[2020-12-07 13:38] ekohl opened #322 "Handle versioning in URLs"
Currently https://docs.theforeman.org/ doesn't handle versioning at all. It looks like it uses the git branch name as a directory, but that's not very useful if the branch names don't map to anything.

Nowhere in our currently layout on theforeman.org we use `master`. It is either `develop` (after the git branch name) or `nightly`. See https://theforeman.org/manuals/nightly/index.html for example.

[2020-12-29 10:38] maximiliankolb opened #326 "Using one sentence per line"
Hi!
I want to make a proposal to simplify PRs and code reviews: sticking to **one sentence per line** which makes handling `git diff` much easier. Doing so does not change the output, as asciidoc does not handle

[code]

any different to

[code]

as long as there are no empty lines in between.

If you allow me, I will create PRs doing exactly this, chapter by chapter. We at ATIX have been doing th

[2020-12-29 10:56] maximiliankolb opened #327 "Hashtags before commands in code blocks"
Hi!

I have a question and want to start a discussion/have a proposal to make:

1. What's the reasoning behind using `# ` before any commands in code blocks? Example: [hammer command](https://docs.theforeman.org/master/Provisioning_Guide/index-foreman.html#setting-the-provisioning-context_provisioning)
2. I propose to remove this hashtag and single whitespace. This makes it possible to a) have syn

[2020-12-29 10:58] maximiliankolb commented on #327
If there are reasons for characters before the actual command, this would be another possible solution:

Using css to display a hashtag/dollar sign before each command in a code block:

[code]

This allows for smooth copy and pasting (assuming the code block is in a div called `code_block`).

[2020-12-29 13:44] ekohl commented on #327
This is a convention that matches your terminal. `#` is for root commands, `$` for normal user commands. The output is then not prefixed. Note that Github flavored markdown recognizes this as well using the console highlighting.

[code]

`#` and `$` come from your `$PS1` variable which contains `\$`. This automatically uses the correct character, depending on whether you're root or not.

This mean

[2020-12-29 14:12] maximiliankolb commented on #327
OK, thanks for clarifying @ekohl .

My intention is to use syntax highlighting, which is kinda rough with interactive shell sessions and commands prefixed with `#`.

Long story short: a PR changing this will most likely not be accepted then?

[2021-01-04 13:41] ekohl commented on #327
I'm not on the docs team, I'm just helping you understand the convention behind it. Perhaps there's some nice asciidoc magic that can be done to convert it to CSS but I'm looking at the docs folks to answer it really.

[2021-01-04 14:36] melcorr commented on #322
@spetrosi do you see any difficulty with pushing ahead with this? Would you know the areas in the upstream-downstream jobs that we'd need to update?

[2021-01-04 14:45] spetrosi commented on #322
I would say that changing master to nightly in the Foreman docs URL works fine. Upstream users would know what this means. The docs do not have any branching right now, I think we have resources only to cover the very latest "nightly" versions. Changing the URLs should be relatively easy, we will need to chang the publishing in the repo and maybe also contact DNS folks.
Let's do this after the iss

[2021-01-05 11:58] melcorr commented on #326
@spetrosi I just had @maximiliankolb explain this to me, and reading the proposal, it has no impact to the output, but makes reviewing easier. I think that this would be a positive improvement. What do you think? Ideally we find some way to script this so that we don't have to manually add linebreaks to every existing doc.
What do you think @lzap

[2021-01-05 17:23] maximiliankolb commented on #326
I've converted the two guides as suggested. The second one was a bit of a pain, as there are many files included ...
I did this by hand, as I see no way to (quickly) automate this. There are many edge cases; I feel like going chapter by chapter is just fine.
Disclaimer: I did not touch any tables yet and might have missed some sentences starting after a colon or semicolon.

[2021-01-06 08:04] spetrosi commented on #327
Hi @maximiliankolb, @ekohl described the reasoning correctly, it is to show readers what user should enter this command. See [9.1. Configuring Foreman server for KVM Connections](https://docs.theforeman.org/master/Provisioning_Guide/index-foreman.html#configuring-server-for-kvm-connections_kvm-provisioning) where it is actually useful.

It never broke syntax in the published docs because the comma

[2021-01-07 08:13] maximiliankolb commented on #327
My experience is that is breaks syntax highlighting in the HTML output, which could look as follows:
<img width="402" alt="syntax_highlighting_example" src="https://user-images.githubusercontent.com/12595287/103867808-423e6a00-50c8-11eb-93a3-28f0fbd417c0.png">

[source](https://docs.asciidoctor.org/asciidoc/latest/verbatim/source-blocks/)

[2021-01-07 08:57] spetrosi commented on #327
If you enclose the code into a code block then the highlighting works fine in an askiidoc build, like this:
[code]

[2021-01-07 10:19] maximiliankolb commented on #327
OK, then this is more of a bug in Antora (the software we use to produce HTML output from asciidoc source files).

So far, we've always been using `[source,bash]` for shell commands, whereas using syntax highlighting seems to be the exception. I've found one [example](https://docs.theforeman.org/master/Provisioning_Guide/index-foreman.html#updating-the-details-of-multiple-operating-systems_provisi

[2021-01-07 10:19] #327 closed

[2021-01-07 10:29] spetrosi commented on #327
We only use the [source,bash] syntax for bash scripts, not for normal CLI commands.

[2021-01-08 11:25] lzap commented on #326
Well, this will break the readability of the source a bit, but there is a clear value in better diffs. I don't mind this, I'd probably prefer something completely different myself: no newlines for sentences and hard wrapping at 79th column. But that's me, not all contributors do have powerful text editor with hard wrapping options.

If we are landing on this as the standard, I suggest to formalize

[2021-01-08 11:47] spetrosi opened #342 "Remove link: from URLs"
Currently, some URLs in the source doc files have a `link:` prefix before them, and some do not. It creates inconsistency. `link:` does not add any value and I suggest removing this prefix from all links at once.

[2021-01-08 13:52] maximiliankolb commented on #326
My plan was to convert all guides and add a second commit to the last PR to amend the `README` accordingly.

[2021-01-08 13:55] lzap commented on #326
Great, thanks for your contributions!

[2021-01-13 18:00] maximiliankolb commented on #342
I've created a PR to remove all `link:` prefixes from links and cross references. Is this what you had in mind?

[2021-01-14 08:15] spetrosi commented on #342
Hey @maximiliankolb, I have merged your PR. Thank you for resolving this issue!

[2021-01-14 08:15] #342 closed

[2021-01-15 17:28] melcorr commented on #192
Thanks for your work on this @spetrosi

[2021-01-15 17:28] #192 closed

[2021-01-18 13:23] lzap commented on #192
Cheers!

[2021-01-18 14:32] lzap commented on #322
I don't mind either. For me `develop` would be more consistent with my current scripts and shell aliases but `nightly` is as good.

Having said that, git branches and directories where content is being published are two different things. We can keep the main branch named `master` while publishing the content in `/nightly` directory in `gh-pages`. It's just a single change here: https://github.com/

[2021-01-18 14:40] ekohl commented on #322
Publishing the same content in multiple places is bad for SEO. There may be ways around that, but by default search engines punish you for it. I'd advise to have a single canonical URL.

[2021-01-22 14:41] lzap commented on #322
Hmm, let's keep the branch as `master` but change the publishing directory to `nightly` then. Could you help by creating a redirect in our Apache configuration from `master` to `nightly` to keep our current links which are spread all over our discourse working? Here is the change: https://github.com/theforeman/foreman-documentation/pull/360

[2021-01-28 14:58] #326 closed

[2021-01-28 18:05] melcorr opened #369 "Broken link in Ansible config guide"
Distribute SSH keys to enable Smart Proxies to connect to hosts using SSH. For more information, see {ManagihgHostsDocURL}ssh-keys-for-remote-execution-overview_managing-hosts[Distributing SSH Keys for Remote Execution] in the Managing Hosts guide. Foreman runs Ansible roles the same way it runs remote execution jobs.

I will do this if I get a chance.

[2021-01-29 10:09] lzap commented on #322
For some reason, I had an impression that the github pages we deploy into are hosted on our infra. Of course, this can't work.

I will go for either symlink or custom 404 page with javascript that will detect the rename and automatically redirect.

[2021-02-03 13:24] lzap opened #374 "Remove TargetVersion"
I noticed that we have the following:

[code]

I can't find any use for these, are these some left-overs? Then lets delete them?

[2021-02-03 13:26] melcorr commented on #374
These are very much needed downstream for Satellite upgrade guide instructions. Please do not delete :)

[2021-02-03 15:01] lzap commented on #374
Okay that explains it.

[2021-02-03 15:01] #374 closed

[2021-02-12 23:33] ehelms opened #396 "Only generate guides when it makes sense for the given scenario."
For example, do not generate content guides for Foreman, only for Katello and Satellite.

[2021-02-16 13:48] melcorr opened #401 "Need new attribute to replace foreman-el in code examples"
While reviewing #394 I noticed that the foreman variable is being used in code examples:

This is how the branch currently renders. Need to swap that parameter and introduce a new attribute:

    Create two databases and dedicated roles, one for Foreman and one for Candlepin:

    CREATE USER "foreman-el" WITH PASSWORD 'Foreman_Password';
    CREATE USER "candlepin" WITH PASSWORD 'Candlepin_Passwo

[2021-02-17 15:17] ehelms opened #404 "Consider adding more options such as SSL configuration options when describing external database setup"

[2021-02-17 15:25] #401 closed

[2021-02-17 17:03] lzap opened #406 "Fix deploy action and JS moved content"
* Links are changed now: `foreman.html` is now `foreman-el.html` - we need to update the JS that suggest where the new content is at least.
* Deploy action does not work - it did not update the site - need to fix.
* Deploy action should delete all files before copying new content but only in nightly or X.Y directories (not all that would delete all content)

[2021-02-19 13:39] lzap commented on #406
So there are two PRs which fixes those problems.

The last one - deleting files before copying - is not that easy, I am gonna drop this for now and delete `foreman.html` files manually once everything is merged.

[2021-02-19 15:30] #406 closed

[2021-02-25 10:15] lzap commented on #396
Eric, I took the opportunity to turn this ticket into discussion. I edited your post and added a table where we can put our thoughts, Yes meaning it makes sense to build that version. Feel free to correct my thoughts.

The breakup into `foreman-el` and `foreman-deb` made things a little bit worse for some guides, for example in the Provisioning Guide we only have if-statements for "satellite" and

[2021-02-25 10:16] lzap commented on #396
Once we land on something here, I will implement the necessary Makefile changes.

[2021-02-25 13:23] maximiliankolb commented on #396
I am not up to date with this approach (is this a suggestion/has this been decided on/already been implemented?), but it makes sense to me.

A follow up should be going through all guides and checking if individual blocks are missing. I would certainly help doing this.

[2021-03-01 09:35] tahliar commented on #369
This issue is fixed by PR #421

[2021-03-01 10:00] tahliar commented on #310
@melcorr I can do this one, too!

[2021-03-01 10:01] melcorr commented on #310
Thank you @tahliar

[2021-03-01 10:12] melcorr commented on #369
Thank you !

[2021-03-01 10:12] #369 closed

[2021-03-01 17:44] mccun934 opened #422 "Katello Nightly / 4.0 docs missing yum commands for foreman-release and katello-repos"
If you navigate to the install docs to try and install 4.0 here:

https://docs.theforeman.org/nightly/Installing_Server_on_Red_Hat/index-katello.html#configuring-repositories_foreman

Under **Section 2.1** you will note that there are no actual 'yum install <foreman-release.rpm>' or 'yum install <katello-repos>' commands that are required to configure before you can install Foreman and Katello.

A

[2021-03-01 19:40] #422 closed

[2021-03-01 19:56] melcorr opened #424 "Assembly not building in Installation guides"
Unresolved directive in master.adoc - include::common/assembly_preparing-environment-for-satellite-installation.adoc[leveloffset=+1]

Smart Proxy/Capsule is the same

[2021-03-01 20:40] ehelms commented on #396
I would agree that some guides, largely those that deal with using Foreman/Katello/Satellite should not be generated per OS but rather once where applicable. For example, there should be a Content Management guide for Katello users. For installation and administration guides, things get trickier and I currently find my leaning to the current approach of doing it per major OS as the commands and lo

[2021-03-02 09:07] #424 closed

[2021-03-02 10:10] melcorr opened #428 "Katello API Guide"
If we were to generate the Katello API guide following the normal process, can we host it over here without too much bother?
Could we just drop the necessary files into /web/
Any idea @lzap @ehelms ?

[2021-03-03 18:56] melcorr opened #433 "Foreman/Katello upgrade guides"
We did not migrate the [Satellite Upgrade Guide](https://access.redhat.com/documentation/en-us/red_hat_satellite/6.8/html/upgrading_and_updating_red_hat_satellite/index) to the upstream because there was a lack of knowledge as to how valuable this would be. )

For Katello 4.0, we need to provide an upgrade guide.
When we complete the migration from old Foreman docs to new, we'll also need to provi

[2021-03-04 08:12] maximiliankolb commented on #396
Regarding two different guides for EL 7 and EL 8: I slightly tend towards building less guides than more; but I don't really care too much. (For our downstream product, we only use individual guides with additional `if downstream product > then X` blocks.) I am happy either way.

I want to focus more on the "a single instruction for multiple Foreman instances (on Debian/EL/with Katello/without Kat

[2021-03-04 09:52] melcorr commented on #396
In Satellite docs, we have always had to maintain parallel instructions for different versions of RHEL on a per-topic basis. I think we'll always have the scenario where we support two versions of an operating system, whatever that operating system might be. Let's not generate a separate guide for every OS version; I prefer to keep to the OS family.

I agree that we should not build out separate v

[2021-03-04 10:40] lzap commented on #433
I think that the Satellite upgrade guide is the most elaborate and a good strategy could be to upstream it. Both Katello and Foreman upgrade instructions are quite short, essentially just "yum update" and "foreman-installer" with few remarks here and there. For both Katello and Foreman we need to implement some if statements to hide irrelevant contents. Example: `foreman-rake katello:upgrade_check

[2021-03-04 15:24] ehelms commented on #396
I have taken the tactic suggested in https://github.com/theforeman/foreman-documentation/pull/411 -- this results in a few sections that need subsections by OS version, e.g. configuring repositories, storage guidelines, installing packages

[2021-03-05 12:51] melcorr opened #435 "Add section to readme explaining logic of the way the guides are currently put together"
After a conversation with @maximiliankolb yesterday, it became clear that it could be easy to provide contributors with further direction as to where their content is best placed.

For example, there was some attempt to apply logic to the Satellite guides,

The administering Foreman guide is intended to contain content that is admin-level on Foreman

Managing Hosts in Foreman guide is intended to

[2021-03-05 14:58] jlsherrill commented on #433
+1 lets migrate that

[2021-03-08 14:58] melcorr commented on #433
This guide is now upstream!

[2021-03-08 14:58] #433 closed

[2021-03-09 00:47] tahliar commented on #310
Resolved by PR #427

[2021-03-15 11:18] tahliar opened #457 "CLI procedure is sometimes easy to miss"
Currently the docs use Procedure for the web UI steps, followed by For CLI Users. However, if the web UI procedure is quite long, the CLI procedure can get buried and people might not know it's there.

Could we do something like this:

[code]

I'm happy to do this myself, but wanted to get your thoughts first.

[2021-03-16 11:21] melcorr commented on #457
+1 from me, I think that we standardized it to .For CLI users because someone did that once and we all followed.

[2021-03-16 12:26] melcorr opened #458 "Add content from Troubleshooting PR to Admin guide logs chapter"
Add the content from this PR:

https://github.com/theforeman/foreman-documentation/pull/420

Here:

https://docs.theforeman.org/nightly/Administering_Red_Hat_Satellite/index-foreman-el.html#chap-Red_Hat_Satellite-Administering_Red_Hat_Satellite-Logging_and_Reporting_Problems

I don't have time to do this week, but will do soon!

[2021-03-16 12:30] tahliar opened #459 "Review missing CLI steps in Provisioning Guide"
Some CLI "procedures" in the Provisioning Guide just say things like "The compute profile CLI commands are not yet implemented in {ProjectName} {ProductVersion}."

However, those sentences have been there for a very long time and may be outdated.

At some point we should review those sections and add CLI steps if they are now available.

[2021-03-18 19:16] lzap commented on #396
So are we going with approach A or approach B? I don't have a strong opinion, I think installation guides are the most challenging ones and we should decide depending on what's better for those guides (thus people who maintain them more often). Then I would like to implement the changes because we already see another BUILD flag emerging at https://github.com/theforeman/foreman-documentation/pull/4

[2021-03-19 14:51] ehelms commented on #396
I have taken the approach A in the current set of guides. So any section that needs to call out things being different on versions of the OS (or spins thereof) includes dedicated sections for each.

[2021-03-22 10:28] tahliar commented on #457
Fixed in PR #461

[2021-03-22 10:28] #457 closed

[2021-03-24 15:44] melcorr commented on #428
cc @jjeffers

[2021-03-24 18:40] melcorr commented on #459
@tahliar if you're ever bored and want to link to which sections those CLI commands are missing, I can hunt down the person who would know! Thank you!

[2021-03-25 00:54] tahliar commented on #459
@melcorr looks like it's all related to compute profiles:

* 2.15. Creating Compute Profiles
* 13.3. Adding OpenStack Details to a Compute Profile
* 14.5. Adding Amazon EC2 Details to a Compute Profile

[2021-03-30 17:15] melcorr opened #464 "Update Azure steps"
Add changes from here [1] to provisioning docs
[1]
https://github.com/theforeman/theforeman.org/pull/1799

[2021-04-01 11:09] lzap opened #467 "We have many unclosed if statements"
Hey @tahliar

your commit b3937437f937be74f43c1ea8c3465958222dfcd7 introduced some if statements like

    ifdef::context[:parent-context: {context}]

which do not have matching endifs. I honestly do not understand what you meant with these, would you mind fixing those? It looks like build succeeds because preprocessor somehow close them probably at the end of file or whole document. We just see e

[2021-04-01 11:21] lzap commented on #428
I think that API guides must be generated from git checkout or production installation, so we cannot do this via GH Action easily. So probably some manual process? I haven't done that before.

[2021-04-01 11:53] tahliar commented on #467
Hi @lzap, those ifdefs are from Red Hat's [assembly template](https://raw.githubusercontent.com/redhat-documentation/modular-docs/master/modular-docs-manual/files/TEMPLATE_ASSEMBLY_a-collection-of-modules.adoc). The files also end with

[code]

and it's meant to be used primarly when an assembly has its own context, and is included in another assembly with a context, so that the top-level assembly

[2021-04-01 12:02] melcorr commented on #428
@lzap yeah my idea, unless you folks can come up with a better one, would be to generate in the normal place then host here.
It should not be too much work, do you think?

[2021-04-01 12:07] lzap commented on #428
Yeah no problem as long as someone teach me how to build it, I can do that easily.

[2021-04-01 12:08] ekohl commented on #428
I think @evgeni has some experience with running installations inside GHA. Perhaps he has some advice.

[2021-04-01 12:17] evgeni commented on #428
Yeah, the advice is: don't ;)

More seriously, what do you need? The apipie HTML output? (like it is today on https://theforeman.org/api/2.3/ and https://theforeman.org/plugins/katello/3.18/api/index.html?)

[2021-04-01 12:23] melcorr commented on #428
If docs.theforeman.org is going to be the single source of Foreman and Katello docs, we would need to host API docs also  ?

[2021-04-01 12:40] jjeffers commented on #428
Rather than generating the apipie HTML output in this project, would a viable alternative be to provide PRs with the that HTML output for each new version of Katello?

[2021-04-01 12:42] evgeni commented on #428
I don't disagree with *that*. But the title says "guide" -- I don't know if we have any *guide* at all. For the generated api docs: I'd not re-build them on every re-deployment of f-documentation, that'll be painful (and slow).

[2021-04-01 12:57] lzap commented on #467
Oh, I had no idea. From the https://docs.asciidoctor.org/asciidoc/latest/directives/ifdef-ifndef/ document:

If you’re only dealing with a single line of text, you can put the content directly inside the square brackets and drop the endif directive.

Apologies from blaming you and thanks for explanation, this is weird syntax. I am gonna fix this, thank you!

For the record, we can extend the Makef

[2021-04-01 13:11] lzap commented on #467
Fixed in: https://github.com/theforeman/foreman-documentation/pull/469

[2021-04-01 13:13] lzap opened #470 "Get rid of "id ... already in use" warnings"
There is a trick on how to fix this.

Example patch: https://github.com/theforeman/foreman-documentation/pull/469/files

(Ignore the ifded and makefile change).

We have many of these so I am creating this issue:

[code]

Once we get rid of all, we can change the grep in the makefile to also fail on warnings! :-)

[2021-04-01 13:14] lzap commented on #467
Closing, filed another one about the remaining warnings: https://github.com/theforeman/foreman-documentation/issues/470

Thanks again!

[2021-04-01 13:14] #467 closed

[2021-04-02 01:39] tahliar commented on #470
Ah, the ones with the cli_ IDs were my fault. If we add _{context} to the IDs and the xrefs, that will solve it. I'd thought they didn't need it since the xref was only to an ID in the same file, but of course file reuse would create duplicate IDs! 🤦

Big +1 to failing on these warnings; in the downstream tools, broken xrefs and duplicate IDs cause even a local test build to fail, so they're easy

[2021-04-02 05:57] tahliar commented on #470
Opened PR #471 for the cli- IDs. Will open a separate PR for the install guide duplicate IDs.

[2021-04-06 14:20] melcorr commented on #470
Thank you @tahliar !

[2021-04-06 14:20] #470 closed

[2021-04-08 07:29] lzap opened #478 "Create procedure for multi-homed Foreman Server/Smart Proxy Servers"
The standard practice is to have a separate provisioning network, Foreman is designed to do this but it looks like our users do struggle:

https://community.theforeman.org/t/configuration-to-install-one-machine-on-its-first-interface-by-dhcp-and-then-be-static-for-another-network/22730

We need to write such procedure, maybe do a YT video as well.

[2021-04-09 08:16] lzap commented on #470
Thank you so much! I will look into treating WARNINGS as ERRORS.

[2021-04-09 09:12] lzap commented on #428
For the record, here is an effort I started on this: https://community.theforeman.org/t/proposal-move-apidocs-from-git-to-infra-web/23059

[2021-04-20 11:26] melcorr commented on #478
@lzap This would be a nice opensource.com article in my opinion.

[2021-04-27 07:45] stejskalleos opened #513 "Host registration changes in 2.5 version"
**Changes in templates**
`Linux registration default` template is now `Host initial configuration` (kind: `host_init_config`) and it is automatically assigned to every OS (so no need to set it manually).
Template that is assigned to the OS can be set in the settings the same way as default global registration template

**API**
There is new API endpoint `/registration_commands` for generating comma

[2021-04-27 09:35] melcorr commented on #513
Hey @stejskalleos
Thanks for writing this up.
Can I just check with you - will you add a PR with these doc updates also?

[2021-05-21 06:31] maximiliankolb opened #537 "Is displaying the {ProductVersion} necessary?"
Hi everyone.

Is there a reason to display `{ProductVersion}` in some cases after `{ProjectName}`?

I can totally understand this concept for links to the Red Hat Documentation as well as in the context of upgrading Foreman/SmartProxy.

In other cases, I am unsure what's the benefit:

`git grep -i -n "{ProductVersion}"`:

[code]

Thanks.
Maximilian.

[2021-05-21 19:47] melcorr commented on #537
Well, in these examples not, but in the upgrade guide, it is necessary for sure.
The second example there looks to me like some tasty sed :-)

[2021-05-24 12:02] lzap commented on #537
I think historically the product name was Red Hat Satellite 6 but I believe this was rebranded now just to Red Hat Satellite so we can perhaps completely remove these (except from upgrade guide)? Go ahead.

[2021-05-25 09:43] maximiliankolb commented on #537
Done as #540 has been merged.

[2021-05-25 09:43] #537 closed

[2021-06-09 13:10] #428 closed

[2021-06-10 16:12] #513 closed

[2021-06-10 16:12] #464 closed

[2021-06-30 09:09] maximiliankolb opened #579 "Migrate Facts and ENC to Puppet guide"
Migrate content from the Foreman Manual (https://theforeman.org/manuals/2.5/index.html#3.5.5FactsandtheENC) to the Foreman Documentation (https://docs.theforeman.org/nightly/Managing_Hosts/index-foreman-el.html#using-puppet-for-configuration-management_managing-hosts).

[2021-06-30 09:11] melcorr commented on #579
Thanks @maximiliankolb !

[2021-07-02 13:20] melcorr commented on #579
If someone could provide me with a screen of this UI, I'll rework the manual docs into a module for the new Puppet guide here.

[2021-07-12 07:31] lzap commented on #579
@ares I think you mentioned some always-on Foreman instance, can Mel access it? I could sync some Puppet modules for her I remember you use Salt/Chef

[2021-07-12 13:25] ares commented on #579
Of course, I'll share the access offline. There are some puppet artifacts already. There's no Salt/Chef though ATM.

[2021-07-13 15:51] ekohl opened #602 "Link to a nightly doc in stable guide"
https://docs.theforeman.org/2.5/Planning_Guide/index-foreman-el.html has a link to https://docs.theforeman.org/nightly/Installing_Server_on_Red_Hat/index-foreman-el.html#satellite-ports-and-firewalls-requirements_foreman. Or really, any link points to nightly rather than 2.5. This is surprising for users.

[2021-07-14 10:55] ekohl commented on #602
Fixed in https://github.com/theforeman/foreman-documentation/commit/cdc14c4d07e97e9e10427ffcf1e1e74219d29432

[2021-07-14 10:55] #602 closed

[2021-07-15 10:48] melcorr opened #611 "Pulp 2-to-3 migration for Satellite steps"
Hey @katello team, anyone reading

In trying to help the Satellite writer with his work, I discovered that the Pulp 2-to-3 migration steps are needed to be included as a Satellite ifdef statement in 2.5 as they were handled for upstream users slightly earlier.

Would you mind confirming the steps for me. I've looked at the test documentation and also the Katello 3.18 migration steps and want to ad

[2021-07-19 12:16] melcorr commented on #611
Sorted this via email. TY

[2021-07-19 12:16] #611 closed

[2021-07-21 10:44] lzap opened #619 "Document VMWare bootdisk provisioning"
It is completely undocumented!

https://community.theforeman.org/t/ipxe-does-not-work-after-upgrading-to-2-4-1/24472

[2021-07-27 08:59] maximiliankolb opened #631 "Code Blocks in asciidoc"
Hi!
Running `git grep -h -B 1 "\-\-\-\-" guides | sort -u | grep "^\["` shows that we have quite a few different ways to format/configure code blocks. Is there a preferred way?

I tend towards `[options="nowrap", subs="verbatim,quotes,attributes"]` for readability, with the option to prefix a certain highlighting, for example `bash`, `yaml`, or `ruby`: `[ruby, options="nowrap", subs="verbatim,quot

[2021-07-27 09:12] melcorr commented on #631
Hey @maximiliankolb

I think that they very much depend upon the actual code. I tend to leave out the verbatim, because **I think** that if you, for example, want to mark up a hostname, username, password etc is a variable value that we expect the user to change for themselves, instead of printing _username_ it will print verbatim and display the underscores.

I did notice a funny quirk with our s

[2021-07-27 09:33] maximiliankolb commented on #631
Ok 👍

[2021-07-27 09:33] #631 closed

[2021-08-04 11:51] ekohl commented on #322
I think by now this is resolved. If anything new pops up, a new issue is better.

[2021-08-04 11:51] #322 closed

[2021-08-04 11:54] #189 closed

[2021-08-04 13:30] melcorr commented on #294
@laviro - do you think that the UX folks might be able to help us with this item as we move towards Foreman 3.0 and make these docs official!

[2021-08-04 14:48] melcorr opened #646 "docs.theforeman.org guides page is messy"
We could do with a better layout for our new guides page.
For example:
https://docs.theforeman.org/nightly.html

We should group them together in a logical way.

First

installation guides (Foreman)
installation guides (Katello)

Then guides arranged in an order that we think most logical, perhaps with a brief description of the contents of the guide, what the user can expect to find in the guide

[2021-08-04 15:11] laviro commented on #294
@melcorr I am pretty sure we can help!
Let's add it to the next UX meeting agenda: https://community.theforeman.org/t/ux-interest-group-meeting-09-08-21/24703?u=laviro

[2021-08-04 15:20] melcorr commented on #294
Thank you @laviro ! Added.

[2021-08-04 15:43] ekohl opened #647 "Fix the "Installing an External Smart Proxy Server on Debian" guide"
https://docs.theforeman.org/nightly/Installing_Proxy_on_Debian/index-foreman-deb.html contains many thing that are incorrect. I think some of these also affect Foreman without Katello installations.

* https://docs.theforeman.org/nightly/Installing_Proxy_on_Debian/index-foreman-deb.html#system-requirements_smart-proxy

The users apache, foreman and postgres will not be needed. `apache` doesn't eve

[2021-08-04 15:57] ekohl opened #648 "Create a Debian/Ubuntu upgrade guide"
https://docs.theforeman.org/nightly/Upgrading_and_Updating/index-foreman-el.html is RPM-specific, but it doesn't state this. I think we should label it as such and introduce a upgrade guide for Debian/Ubuntu users.

[2021-08-04 17:17] ekohl commented on #647
https://github.com/theforeman/foreman-documentation/pull/651 made a start on the network ports.

[2021-08-05 18:09] melcorr opened #652 "Puppet guide link needs updating"
https://docs.theforeman.org/nightly/Managing_Hosts/index-foreman-el.html#puppet_guide_introduction_managing-hosts
9.1.2. Prerequisites for Puppet

Link to the Content Management Guide seems unformatted or needs link text.

[2021-08-05 19:25] maximiliankolb commented on #652
Will have a look at this tomorrow.

[2021-08-06 10:03] #652 closed

[2021-08-16 10:59] melcorr opened #662 "Delete readme.md TODO list"
On our readme.md, we have a TODO list that is a blend of concerns from when we started this project in 2019.
The to do list are a mixed bag, both on a micro and macro level, some within the remit of Foreman, others are completely the responsibility of Red Hat content team and outside of the Foreman team's responsibility.
I think that nothing will be lost if we delete this checklist and use issues

[2021-08-17 10:36] melcorr opened #668 "docs.theforeman.org Foreman 3.0 web page links not rendering properly"
I cannot see anything wrong in https://github.com/theforeman/foreman-documentation/commit/00de02be190de55babef8d6ac23380e7682a4a81

And path is set to 3.0, which is correct:

https://raw.githubusercontent.com/theforeman/foreman-documentation/master/web/content/3.0.md

Yet the Foreman 3.0 page links have 3 in their path rather than 3.0:

https://docs.theforeman.org/3.0.html

The links to 3.0 render

[2021-08-17 10:37] #662 closed

[2021-08-17 11:22] #668 closed

[2021-08-17 15:28] melcorr commented on #396
Hey @ehelms @lzap @maximiliankolb  in #672 @ekohl suggests creating separate Foreman and Katello admin guides.
What do you think?
In #672 I had proposed adding a snippet just to note that some procedures or chapters don't apply here or there. However, I am open to publishing two versions of the guide.
Let me know your thoughts please.

[2021-08-17 15:30] ehelms commented on #396
Given they are two separate installation paths, for now I would agree the guides should be separate to drive home that fact to users.

[2021-08-17 15:35] ekohl commented on #396
I think we'll then present 3 "books":
* Foreman on EL
* Foreman on Debian/Ubuntu
* Katello on EL

And I think we should also present it that way in the index.

[2021-08-17 15:41] melcorr commented on #396
I would really appreciate support on the Debian side of things.
I do not have the expertise to understand the Debian scenarios.
I have only ever heard @ekohl talk about Debian documentation; anyone else I've asked hasn't really known.
I will focus on the Foreman and Katello for EL scenarios because of this. I would appreciate any PRs that might refine it for Debian, but the scope of my PRs will be

[2021-08-17 16:15] ekohl commented on #396
The biggest differences are found in Apache. So it's `apache2` instead of `httpd`. You'll find this in the package name and file paths (`/etc/apache2` vs `/etc/httpd`, same in `/var/log`). Also the username is `www-data` on Debian while it's `apache` on RPM.

Another big one is the system SSL store: `/etc/pki` is a Red Hat thing while Debian uses `/etc/ssl` but with a very different structure.

Ob

[2021-08-18 15:41] melcorr opened #676 "Adapt Administering Foreman guide for different scenarios"
As part of #396, we and the latest discussion there, we need to stream the admin guide to generate versions for

* Satellite (the status quo but ensure nothing leaks that shouldn't etc)
* Foreman-EL
* Katello
* Debian users
* (I know orcharhino work has already been done, maybe more is needed)

This was inspired by https://github.com/theforeman/theforeman.org/pull/1879#discussion_r690316318

I (@m

[2021-08-19 07:27] maximiliankolb commented on #396
I'm fine with this approach and hope that "Foreman on EL" can easily be combined with "Katello on EL". It would also be nice to have switches to turn on/off blocks for different EL versions, i.e. EL7 & EL8.

[2021-08-19 09:56] ekohl commented on #396
I don't think so. At least for now ports are different (see https://github.com/theforeman/foreman-documentation/pull/651). We're working on that, but making sure it's a smooth migration for users means it's a long process. Then the entire certificate handling is different. Again, something we're working on but also a long process.

So ideally speaking, the Katello on EL guide is basically Foreman

[2021-08-19 16:11] ekohl commented on #294
It is generated by asciidoctor. https://docs.asciidoctor.org/asciidoctor/latest/ is the documentation for it. It look like you can pass `--template-dir` (requires the `tilt` gem to be installed). However, I struggle to find which file to drop in. https://github.com/asciidoctor/asciidoctor/tree/master/test/fixtures has various filenames, but I don't know if that's exactly the ones.

https://github.

[2021-08-20 09:09] lzap commented on #646
Should we not mention Foreman and Katello and rather recommend to install Katello as the default installation for everybody?

[2021-08-20 09:11] lzap commented on #294
We already use "head" to put the "Nightly" banner. It is here:

https://github.com/theforeman/foreman-documentation/blob/master/guides/common/docinfo.html

then used in the Makefile

https://github.com/theforeman/foreman-documentation/blob/master/guides/common/Makefile#L56

Maybe just bunch of HTML could do it. There is also a "header" and "footer" feature. All you need to do is to create `docinfo

[2021-08-20 16:14] ekohl commented on #646
No, I don't think we should recommend Katello for everyone. I think the system requirements would scare away a lot of (potential) users. In https://github.com/theforeman/foreman-documentation/pull/678 I've at least given some guidance so they can make a more informed decision.

IMHO we should continue to work to making Katello a real Foreman plugin in the sense that you can add it after the fact.

[2021-08-20 18:33] melcorr commented on #676
@ekohl can you help me formulate a prerequisite for chapter two for Foreman EL and Katello users.

To use this section, you must have foreman-maintain installed (how do they do that?)
And is there an alternative method? I can add that in?
At the moment, i've just added an ifndef for foreman-deb builds for Chapter 2.

[2021-08-23 09:18] melcorr opened #685 "Admin guide adapation: 5.4.5. Creating a Complete Permission Table - foreman-rake console"
As part of #676, feedback from @ekohl about Katello v Foreman-EL scenarios

There is this section in the Admin guide: 5.4.5. Creating a Complete Permission Table

https://docs.theforeman.org/nightly/Administering_Red_Hat_Satellite/index-foreman-el.html#sect-Administering-Users_and_Roles-Creating_and_Managing_Roles

@ekohl made the following comment about that content:

I would like to get this add

[2021-08-23 09:30] ekohl commented on #685
I think it would be best to open a Redmine issue and submit the code to Foreman upstream. Would you mind opening that issue?

[2021-08-23 09:32] melcorr commented on #685
Code? Is this not just a docs change?

[2021-08-23 14:42] ekohl commented on #676
For Foreman on EL, you can `yum/dnf install` it. For Debian you can't. The software doesn't support it and is also not packaged.

Personally I always use `systemctl` directly.

`systemctl stop foreman.service foreman.socket` to stop Foreman itself. For something like (re)start it's sufficient to only restart `foreman.service`. There's also `dynflow-sidekiq@*` (always recommend to use `\*` if it's

[2021-08-23 14:54] maximiliankolb commented on #676
orcharhino is currently using a version of "Administering Foreman" somewhere between foreman-el and satellite. For us, Katello is a non-optional plugin and orcharhino only runs on EL (7) currently.

Please tag me @melcorr  whenever there are changes regarding the versions for foreman-el, satellite, and orcharhino.

[2021-08-23 15:44] melcorr commented on #676
I don't understand this bit. At the moment, I have created a prerequisite section where I say that before they can use the procedure, they'd have to have foreman-maintain installed, then the command. Then I say, Alternatively, they can use systemctl and the range of options for starting and stopping.

I'm assuming  `dynflow-sidekiq@*` is a service they need to consider? Starting and stopping it? S

[2021-08-24 12:54] melcorr commented on #685
I understand now. The power of taking a step back. I will file a redmine. Sorry for the confusion. Will close this and link to the redmine once I do it.

[2021-08-24 15:28] melcorr commented on #685
https://projects.theforeman.org/issues/33334
I tried to capture the point here. Feel free to update/correct.

[2021-08-24 15:28] #685 closed

[2021-08-24 15:54] melcorr opened #688 "Add steps for migrating from internal to external DBs for RHEL 8 systems"
As part of work to complete #684, it is noted here https://github.com/theforeman/foreman-documentation/pull/684#discussion_r694821580 that we also need to develop instructions for migrating from internal databases to external databases for RHEL 8 systems.

https://docs.theforeman.org/nightly/Administering_Red_Hat_Satellite/index-foreman-el.html#migrating-from-internal-databases-to-external-databas

[2021-08-24 16:25] ekohl commented on #685
Thanks!

[2021-08-26 14:20] melcorr opened #693 "Admin guide, chapter 8 Backing Up Foreman server and Smart Proxy server for Foreman-el"
Comments from @ekohl:

"Mention of /root/ssl-build and various other directories makes it Katello-only. "

Here is the passage in question:

`A backup contains sensitive information from the /root/ssl-build directory. For example, it can contain hostnames, ssh keys, request files and SSL certificates. You must encrypt or move the backup to a secure location to minimize the risk of damage or unauth

[2021-08-26 15:49] melcorr opened #695 "Add Release Candidate Banner"
Just as @upadhyeammit is doing https://github.com/theforeman/theforeman.org/pull/1887
We need to have an RC banner.

[2021-08-30 12:41] ekohl commented on #648
It should also be noted that there are various katelloisms. Even some Sateliteisms.

[2021-09-03 08:23] lzap commented on #695
Yeah I agree, the banner should be rewritten in a way we can put any text in there. Another candidate would be: Unsupported for very old releases.

[2021-09-03 08:36] lzap commented on #695
Implemented in https://github.com/theforeman/foreman-documentation/pull/710

[2021-09-14 08:06] lzap opened #713 "Add IPv6 HTTP UEFI boot documentation"
We only have a note that "it is possible" in docs.

https://youtu.be/dHfU31ZmPDs?t=1456

[2021-09-15 10:09] melcorr opened #715 "Broken link in Ansible docs from registration docs updates"
Hey @stejskalleos
If you get a minute, can you help me figure out how I need to update the following link:

https://docs.theforeman.org/2.5/Configuring_Ansible/index-foreman-el.html#ssh-keys-for-remote-execution-overview_ansible

"For new Foreman hosts, you can deploy SSH keys to Foreman hosts during registration using the global registration template. For more information, see Registering a Host

[2021-09-15 10:53] stejskalleos commented on #715
@melcorr https://github.com/theforeman/foreman-documentation/pull/716

[2021-09-15 13:29] melcorr commented on #715
Thank you!

[2021-09-15 13:29] #715 closed

[2021-10-12 06:58] maximiliankolb opened #743 "What does SCA mean?"
See [guides/common/modules/proc_creating-a-host-activation-key.adoc](https://github.com/theforeman/foreman-documentation/blob/master/guides/common/modules/proc_creating-a-host-activation-key.adoc):  `If SCA is not enabled`. Is it [Simple Content Access](https://access.redhat.com/articles/simple-content-access)? If so, maybe we should reword this.

Also, I am somewhat confused to what the differenc

[2021-10-14 07:12] maximiliankolb opened #746 "Two asciidoc attributes in one anchor/link"
Run `git grep "{.*{" guides | grep 'id='`:

    guides/common/modules/proc_configuring-repositories-el.adoc:1:[id="configuring-repositories-el-{distribution-major-version}-{package-manager}"]
    guides/common/modules/proc_installing-server-packages-el.adoc:1:[id="configuring-foreman-repositories-el-{package-manager}-{context}"]

I've fixed all other instances in https://github.com/theforeman/fore

[2021-10-14 09:48] melcorr commented on #746
Thanks @maximiliankolb  - I will take a look .

[2021-10-15 14:32] maximiliankolb opened #754 "Questions about conventions/preferences"
Hi everyone.
After reading and reworking the content management guide (for several times now^^), I have some questions about general conventions and/or preferences:

* `See X for more information.` vs `For more information, see X.`? IBM Style guide says its the latter.
* What does "custom" content mean exactly?
  * Any content not provided by the OS on its installation media?
  * Content not direc

[2021-10-15 15:01] #743 closed

[2021-10-19 15:36] ianballou opened #760 "Remove 'migrating_pulp_content' section for Katello 4.2 and onwards"
Currently, the Katello 4.2 docs mention a `prep-7.0-upgrade` which doesn't exist. It's caused by `{foreman-maintain} prep-{TargetVersion}-upgrade` in `guides/doc-Upgrading_and_Updating/topics/migrating_pulp_content.adoc`.

We won't need that again, so we can delete the pages instead of just hiding the content.

[2021-10-28 13:38] ianballou opened #790 "Add docs about no direct HTTPS support for Katello versions from 4.0 to 4.2"
https://bugzilla.redhat.com/show_bug.cgi?id=2012279

Katello 4.1 does not directly support syncing through HTTPS proxies due to the change to Pulp 3.  A user can get around this by setting up an HTTP proxy that forwards traffic to the HTTPS one.

[2021-11-04 11:45] lzap commented on #760
Please file a PR, thank you :-)

[2021-11-04 12:08] lzap opened #804 "On cherry picks"
Guys,

today at 1230 zulu time, I accidentally cherry picked some stuff which I missed was already cherry picked creating four unnecessary commits in the 2.5 branch. Mel pinged me pretty quickly and about 1300 everything was reverted and we are back in good shape.

Now, I missed how @melcorr is doing her cherry picks. She likes to update commit message so it has a PR github number and this actuall

[2021-11-04 12:08] #804 closed

[2021-11-04 13:08] lzap commented on #790
I see multiple issues created by you guys, so can I assume you are going to use GH issues to track Katello? That's completely fine by me.

[2021-11-04 13:09] lzap commented on #760
I have just realized Katello docs are moved here, feel free to use GH issues. :-)

[2021-11-11 13:27] maximiliankolb opened #829 "Clean up guides/doc-Configuring_Load_Balancer/topics/Registering_Clients.adoc"
This file should be cleaned up and made more upstream friendly. We should also remove `Registering Clients Manually with katello-ca-consumer rpm` in our devel branch if it's deprecated.

[2021-11-15 07:21] lzap opened #842 "Create a spell checker script"
I think it is possible to automate spell checking of the whole repository. Something like that (rough idea this is not confirmed to work):

    find guides/ -type f -name "\*.adoc" -exec aspell -l en_US -p dictionary.txt -x check {} \;

Once this is manually confirmed by someone competent and we build a dictionary of exceptions, we could even run this for each PR. I started looking into this but t

[2021-11-23 14:22] lzap opened #873 "Migrate to Antora"
Hey,

this is just a tracking ticket and starting point for discussion about Antora: https://antora.org

While I am currently working on a simple navigation bar with pure HTML/JS/CSS embedded into asciidoc documents so readers can seamlessly switch guides or go back to the welcome page, I think long-term we need to think big. Antora looks like a great fit, however, this needs to be done in coordin

[2021-11-23 14:43] maximiliankolb commented on #873
We are using Antora in our [downstream documentation](https://docs.orcharhino.com). It's quite a bit different compared to asciidoctor, esp. when including other files or referencing anchors in other files.

So huge +1 from my side! I already showed @stejskalleos a bit of our Antora usage and a small "behind the scenes". We also already have a solution in place to check xrefs and to add search fun

[2021-11-24 08:32] stejskalleos commented on #873
+1 for this. @maximiliankolb gave me intro about Antora and it looked awesome. With Antora we could have search (yay!) and use their plugins and extensions to make docs really great.

I'll be glad to help you with the work, feel free to ping me.

[2021-11-25 15:56] maximiliankolb opened #884 "Proposal: Do not (by default) squash commits when merging"
Hi all,
after digging around in git log to find where, how, why, and who changed things, I -again- tripped over the default setting to squash commits when merging using the "Squash and merge" button in Github.

Some thoughts:
* One change should be one commit: for example, changing the links to a procedure in multiple files is one commit. Fixing a typo in the same file should be a separate commit.

[2021-11-25 15:59] lzap opened #885 "Switch to CC BY-SA 4.0"
Hello, before I pushed the content into github, I checked with Red Hat legal. Together with confirmation, I got a comment from Richard Fontana that we should consider upgrading the license. I totally forgot about this, so at least creating a ticket in case someone wants to jump into this.

Quote from Richard:

[2021-11-30 11:27] melcorr commented on #884
@lzap what do you think?

[2021-11-30 15:29] melcorr opened #889 "There is no Foreman Upgrade Helper"
Our docs have some silly nonsense that we need to conditionalise:

https://docs.theforeman.org/2.5/Upgrading_and_Updating/index-katello.html#upgrading_satellite_server_parent

For interactive upgrade instructions, you can also use the Foreman Upgrade Helper on the Red Hat Customer Portal. This application provides you with an exact guide to match your current version number. You can find instructi

[2021-12-06 13:50] Areyus opened #895 "There is no prep-satelliteversion-upgrade subcommand for foreman-maintain"
The Katello upgrade docs at docs.theforeman.org state in section [2.1.1 step 2](https://docs.theforeman.org/nightly/Upgrading_and_Updating/index-katello.html#preparing_to_migrate_pulp_content) that you should execute `foreman-maintain prep-6.10-upgrade (this is from the 2.5 docs, replaced by 7.0 in the 3.0 docs or nightly in nightly docs respectively).
However, this subcommand does not exist in op

[2021-12-07 15:31] melcorr commented on #895
Thank you for reporting this @Areyus
I will find someone to remove this :)

[2021-12-07 16:55] melcorr opened #898 "Migration from Pulp 2 to Pulp 3 in nightly upgrade guide."
@Areyus has reported that migration from pulp 2 to pulp 3 documentation still exists in the nightly Katello upgrade guide.

This needs to be removed entirely:

https://community.theforeman.org/t/upgrade-documentation-still-mentiones-pulp3-migration/26452

[2021-12-07 18:31] #898 closed

[2021-12-09 17:48] melcorr commented on #889
Fixed in #900

[2021-12-09 17:48] #889 closed

[2021-12-09 18:12] ekohl commented on #884
In my experience merging things (and caring about a good git history) the answer is (as always) "it depends".

When there is a single commit, I always use Rebase and merge if the commit message is alright. What's right, again, depends. In this project I'm less strict in what others do but I like to hold myself to high standards. That means describing what you did and, more importantly, why.

Somet

[2021-12-09 18:15] ekohl commented on #889
As a future reference, you can link a PR. If you do it prior to merging, it will automatically close the issue. On the right side you have "Linked pull requests". That's automatically filled in if you use `Fixes #...` in either the commit or the PR description. You can also do it manually. That's also good because it's happened more than once that I forgot to close the issue when I merged it.

[2021-12-17 13:53] #895 closed

[2021-12-30 13:16] maximiliankolb opened #928 "Installing Foreman + Katello + Puppet: parameters are missing"
Hi!

Apparently we have an issue in 3.1 docs regarding the installation of Foreman/Katello with Puppet Server. It looks like some parameters when calling the `foreman-installer` are missing.

[Foreman Community Forum: "Foreman-installer –scenario katello does not install puppet-server"](https://community.theforeman.org/t/foreman-installer-scenario-katello-does-not-install-puppet-server/26664/3).

[2022-01-03 12:37] lzap commented on #884
The only reason why I kept this turned on is that many writers would file PR with many WIP commits and I the easiest approach for me is to simply squash them into meaningful commits. If I used this accidentally on a PR that was intentionally filed with multiple commits, then my apologies.

I do not have a strong opinion, we can turn it off and require authors to squash prior merging, I am fine wit

[2022-01-13 13:08] maximiliankolb opened #954 "Unify emphasis for guides"
Maybe we should unify the emphasis for guides?

source: https://github.com/theforeman/foreman-documentation/pull/942#discussion_r783929680

cc @Lennonka

IMHO low priority, but maybe I can come up with a `find -exec sed` command to take care of this.

"... in the _Administering Foreman Guide_" is correct, everything else is wrong?

[2022-01-14 16:12] ekohl opened #959 "Update navigation to highlight build flavors"
In the past I've mentioned this, but now that the site is completely reworked we're actually in a position to implement this. My proposal is to evolve what we have now (post nanoc PR merge) in essentially 3 steps:

First of all, there's the version (nightly, 3.1, 3.0, etc). That's already there today and I like how it's implemented.

The next level would be the build flavor. Today there are 2 drop

[2022-01-14 16:57] lzap commented on #959
Sure Guide word looks narrower than Documentation and therefore we could save some screen space to have three columns.

[2022-01-17 08:23] maximiliankolb opened #962 "Broken Links for Katello guides"
Hi all!

We have broken links to Katello-specific guides, for example in the [Provisioning Guide](https://docs.theforeman.org/nightly/Provisioning_Guide/index-foreman-el.html) (just search for `content management`).

* [broken link1](https://docs.theforeman.org/nightly/Content_Management_Guide/index-foreman-el.html#Managing_Organizations)
* [broken link2](https://docs.theforeman.org/nightly/Conten

[2022-01-17 10:35] ekohl commented on #962
They should read https://docs.theforeman.org/nightly/Provisioning_Guide/index-katello.html instead, right? In #959 I've argued that we need to essentially see the website building 3 different sets (per Foreman version) and in some cases the combination (version, flavor, guide) is invalid and should not be linked.

[2022-01-17 12:50] melcorr commented on #954
Yeah. A guide title should be referenced as you have indicated above.
Hopefully we can automate the majority of this!

[2022-01-17 12:51] melcorr commented on #954
Should we use a variable for the guide names? Then we can add the formatting in there and not depend on people to get it right every time?

[2022-01-17 12:51] melcorr commented on #954
Reopening - hit the wrong button.

[2022-01-17 12:53] melcorr commented on #760
I think this is done. https://docs.theforeman.org/3.1/Upgrading_and_Updating/index-katello.html
I hadn't spotted the issue.

[2022-01-17 12:53] #760 closed

[2022-01-17 12:54] melcorr commented on #294
Think that this work is complete as described by the reporter.

[2022-01-17 12:54] #294 closed

[2022-01-17 15:04] lzap opened #970 "Remove "Red Hat" from directories"
This needs to be communicated with the Red Hat team so they know when their downstream build breaks. I would like ask @melcorr to arrange this. I can do the change when requested but merging should be synchronized with RHD.

[code]

[2022-01-17 15:07] ekohl commented on #970
Note that here we also have `doc-Installing_Proxy_on_Debian` but the content is exactly the same. Same for Installing_Server. So these 2 should be merged. It may need to be cherry picked since the website can't link to different documents for different versions.

[2022-01-17 15:09] ekohl commented on #970
Oh, another thought: we can actually introduce the new location as another copy. Then drop the old guides once everyone's ready. It's just using common fragments so it's just the assembly, which is rather static.

[2022-01-18 11:59] ekohl commented on #676
I've revisited this a bit and opened https://github.com/theforeman/foreman-documentation/pull/979 which is certainly not a solution, but a step in the right direction.

[2022-01-18 15:18] ekohl opened #985 "Make External DB support available in foreman-{deb,el}"
Currently the guides are hidden (https://github.com/theforeman/foreman-documentation/pull/981). However, it can be made to work. What needs to happen:
* Package names & file need to be generalized. Software Collections are only used on EL7. Note this is also needed for EL8 support.
* The `-evr` package is only needed on Katello
* Only the Foreman DB is needed. Candlepin and Pulpcore are Katello-on

[2022-01-19 11:01] Lennonka commented on #954
Absolutely. The emphasis should include the whole guide title in the same wording as the actual title, otherwise we're confusing the reader a bit. A variable for each guide title sounds like a good idea.

[2022-01-20 09:57] lzap opened #1005 "Add RHEL/Stream 8 to the Quickstart guide"
As I found out during my review:

https://github.com/theforeman/foreman-documentation/pull/973#issuecomment-1015368073

[2022-01-20 10:12] melcorr commented on #970
So, the optimal time to do this would be now and cherry-pick back to 3.1, because those books have not been made yet for Satellite 7 in the downstream.

This would only ever break anything for them if they had already fed the documentation guide URLs into the publication tool, Pantheon.
@Lennonka - there's no 7 branch for Satellite docs yet, is there?

[2022-01-20 12:25] ekohl commented on #970
:+1: for that. Due to nav.js we'd also need to implement it in all other branches. I'd suggest to implement it there as additional guides without removing the `_on_$os` variants.

[2022-01-20 12:42] melcorr commented on #970
OK, that's a bigger job but not difficult all the same.

[2022-01-20 12:55] ekohl commented on #970
I opened https://github.com/theforeman/foreman-documentation/pull/1006 which I think implements this.

[2022-01-24 12:16] #970 closed

[2022-01-27 11:29] ekohl commented on #959
I now consider this resolved

[2022-01-27 11:29] #959 closed

[2022-02-15 10:33] Areyus opened #1064 "Broken link to Katello Release Notes"
From the menu, clicking on "Katello on EL" -> "Release Notes" results in a "Page not found" error.
This link should probably point to [the Katello CHANGELOG.md](https://github.com/Katello/katello/blob/KATELLO-4.3/CHANGELOG.md) for each respective version.

[2022-02-15 10:45] ekohl commented on #1064
For which version are you looking, because it's there for nightly, 3.0 and 3.1. However, it isn't for 2.5 and 2.4. That's because the site can't differentiate between versions. That also makes this hard to deal with.

[2022-02-15 11:38] Areyus commented on #1064
I was in fact looking at the 2.5 docs at that moment. I assumed this was a general problem, but it looks like I just misread the menu at that point. Everything 3.0 and upwards work on my side, too.

[2022-02-15 11:42] ekohl commented on #1064
Yes, that's a limitation. We have [nav.js](https://github.com/theforeman/foreman-documentation/blob/master/web/content/js/nav.js) and as you can see, there's no list per version. That's still something we need to resolve.

The release notes guide is a relative new addition and wasn't ported back to unsupported versions. As the author of that guide, I'd welcome feedback.

[2022-02-15 12:01] Areyus commented on #1064
OK, I see now where this comes from. Maybe it would be a good idea to at least make a dummy page with links to the old changelog pages, if the framework allows for that? This would at least be better than leading people to a site not found error imho.

Some feedback as a side note: I really like having the release notes of both Katello and Foreman packaged into one easily accessible page. This mak

[2022-02-15 12:32] ekohl commented on #1064
A dummy with a short "there is no changelog" is actually a good idea.

That was exactly my goal. I chose to keep Foreman and Katello releases chronological and I do wonder if that is clear (and helps).

[2022-02-15 13:09] Areyus commented on #1064
At least to me, this was clear. Although I might have just gotten used to it after years of reading Foreman and Katello changelogs which have (to my memory) always been structured like this. I believe this is a useful and clear structure as it is.

[2022-02-18 10:40] maximiliankolb opened #1086 "GHA deploy action does not clean old directories"
URL I found: https://docs.theforeman.org/nightly/Installing_Server_on_Red_Hat/index-foreman-el.html < still contains `_on_Red_Hat`. See also https://github.com/theforeman/foreman-documentation/commit/de2b45611231fb091644e350424f86a88791640b
(found it on https://docs.theforeman.org/nightly.html).

My expectation: https://docs.theforeman.org/nightly/Installing_Server/index-foreman-el.html < `doc-Ins

[2022-03-02 08:58] lzap commented on #1086
Removed the two offending directories:

To github.com:theforeman/foreman-documentation
   d16dca69..2bebfb70  gh-pages -> gh-pages

[2022-03-02 10:12] maximiliankolb commented on #1086
Thanks!

[2022-03-02 10:12] #1086 closed

[2022-03-07 10:40] #1064 closed

[2022-03-08 09:29] stejskalleos opened #1138 "Convert2RHEL - add steps how to run role from command line"
Extend the docs introduced in https://github.com/theforeman/foreman-documentation/pull/1047 with steps how to run the Ansible role from the command line.

[2022-03-08 10:48] ianf77 commented on #1138
When you have the steps sorted out, let me know and I'll create the documentation.

[2022-03-09 16:18] maximiliankolb opened #1146 "Missing link to "Configuring Hosts Using Puppet""
Hi!

[docs.theforeman.org/nightly.html](https://docs.theforeman.org/nightly.html) is missing a link to the standalone Puppet guide: https://docs.theforeman.org/nightly/Managing_Configurations_Puppet/index-foreman-el.html

On [docs.theforeman.org/release/nightly](https://docs.theforeman.org/release/nightly/) however, there are three links with identical names. I don't know where this comes from or

[2022-03-10 16:22] lzap commented on #1146
That nightly.html is a leftover, removed!

[2022-03-10 16:22] #1146 closed

[2022-03-11 08:42] maximiliankolb commented on #1146
Thank you!

[2022-03-15 00:01] Lennonka commented on #954
I'm working on this.

[2022-03-21 14:16] maximiliankolb opened #1165 ""Managing Organizations and Locations" chapter missing"
Hey.
I cannot find the chapter "Managing Organizations and Locations" anymore.

With 2.5: it's part of the [content management guide](https://docs.theforeman.org/2.5/Content_Management_Guide/index-katello.html#Managing_Organizations).
with nightly: [I cannot find it](https://docs.theforeman.org/release/nightly/)

If I truely understood how we build the web stuff, I would open a PR. 🙈

[2022-03-21 15:17] maximiliankolb commented on #1165
Yes, that's what I was looking for. I might need new glasses, but still cannot find it in the menu structure. Can you?

[2022-03-21 15:23] ekohl commented on #1165
No, it isn't there. This is probably an oversight. However, I think all the landing pages need a very thorough look. For example, the top navigation is (correctly) all split into various builds but the landing pages are plain lists. This is inconsistent but I'm not sure how to otherwise present it.

Perhaps we need to just link to the most critical ones (quick start, install guide, release notes,

[2022-03-21 15:29] maximiliankolb commented on #1165
I am trying to add this: see https://github.com/theforeman/foreman-documentation/pull/1169

[2022-03-21 15:29] #1165 closed

[2022-03-21 15:36] ekohl commented on #1165
So it also made me read through the document and I came up with https://github.com/theforeman/foreman-documentation/pull/1170

[2022-03-21 15:38] maximiliankolb commented on #1165
Thanks, will do!

[2022-03-23 12:55] Lennonka commented on #954
@melcorr Do we have a go?

[2022-03-23 13:46] melcorr commented on #954
I think this is a good step forward. +1

[2022-03-23 15:01] maximiliankolb opened #1178 "Encapsulate Red Hat-only items in ifdef::satellite[]"
A lot of code blocks, repo names, etc. assume that the product is Red Hat Satellite, not Foreman/Katello. It would be nice to go through everything and encapsulate content that is only relevant for downstream products, for example using `ifdef::satellite[]` or `ifdef::orcharhino[]` **and** provide alternatives for either everything else, or for the other downstream product and upstream separately.

[2022-03-23 15:04] maximiliankolb commented on #1178
Starting with 3.1, if something like this happens in either the content management guide, the provisioning guide, or the managing hosts guide, then it's basically a bug in orcharhino documentation and I will hopefully spot it 🤞  & create a PR. But I am still working on the process of not only adding non-RHEL OS and non-Satellite specific blocks, but also adding DEB content where yum content is men

[2022-03-25 12:33] maximiliankolb opened #1184 "Katello 4.4+: Rework mirroring policy for Yum and APT content"
New mirroring policy with Katello 4.4+:

* [Foreman issue 33939](https://projects.theforeman.org/issues/33939)
* https://github.com/Katello/katello/commit/281e9ee968d46107556f00da86a8fc3a2f836ccb
* https://github.com/Katello/katello/commit/2fe15f43488e9b5f984f77a3ebc4451b2db9554c

See also https://github.com/theforeman/foreman-documentation/pull/1149#discussion_r835215351

[2022-03-29 16:29] ianballou opened #1191 "Move troubleshooting section to a better place"
The troubleshooting section (https://docs.theforeman.org/nightly/Installing_Server/index-katello.html#Troubleshooting_foreman) is currently tucked into the installation guide.  It would probably be better to have a separate section of the documentation entirely for troubleshooting.

[2022-03-30 07:02] lzap opened #1194 "Document password hashing settings"
Foreman 3.3 will have three options available in Administer - Settings - Authentication - Password hashing algorithm which specifies which password hashing algorithm will be used for newly set passwords. There are the following options:

* BCrypt (the default setting)
* PBKDF2 SHA1 (NIST-approved algorithm)
* SHA1 (legacy option, not recommended)

There are two additional options:

* BCrypt passwo

[2022-04-06 10:17] dreua opened #1689 "Documentation confuses minor- and patch-version"
In [Upgrading and Updating Foreman](https://docs.theforeman.org/3.2/Upgrading_and_Updating/index-katello.html#_updating_foremanserver_and_content_hosts) it says:

According to [Semantic Versioning](https://semver.org/#summary) this is example is exactly not what a minor version is. A minor version would be 3.1.x to 3.2.x, the example "3.2.0 to 3.2.1" describes a change in patch version. This may b

[2022-04-12 08:23] upadhyeammit opened #1217 "Deprecate EL7 from nightly and Foreman 3.4"
- [ ] https://github.com/theforeman/foreman-documentation/pull/1218
- [ ] https://github.com/theforeman/foreman-documentation/pull/1215
- [ ] https://github.com/theforeman/foreman-documentation/pull/1222
- [ ] https://github.com/theforeman/foreman-documentation/pull/1223
- [ ] https://github.com/theforeman/foreman-documentation/pull/1224
- [ ] https://github.com/theforeman/foreman-documentation/pu

[2022-04-19 16:02] Lennonka commented on #954
I've decided to split this task into 2 PRs:

- Phase 1 in #1230 to introduce attributes for guide titles and suggest improvements for guide folders and guide titles wording.
- Phase 2 will apply attributes in title references in the guides themselves.

[2022-04-20 13:54] maximiliankolb opened #1232 "TODO left in proc_configuring-server-to-sync-content-using-exports.adoc"
Hey. I found a `TODO` in one of the source files: `guides/common/modules/proc_configuring-server-to-sync-content-using-exports.adoc`. original PR: https://github.com/theforeman/foreman-documentation/pull/1159

👀 @Lennonka and @melcorr

Is there something still left to do? If so, please finish it. Thanks.

[2022-04-20 13:59] melcorr commented on #1232
@Lennonka can you take a look and remove the TODO if no other action is needed.
Normally we would open an issue rather than annotate the source files..

[2022-04-20 17:29] upadhyeammit commented on #1217
The milestone for this effort has been changed. We are planning to start on this on branching 3.3 or by GA of 3.3, with this EL7 deprecation moved to Foreman 3.4.

I have raised https://github.com/theforeman/foreman-documentation/pull/1235 to revert the changes accordingly.

[2022-04-27 18:42] Lennonka commented on #1232
Oopsie, we might have missed this by mistake. I will fix it.

[2022-04-27 18:46] Lennonka commented on #1232
Oh, right. That's about the terminology refresh regarding ISS. I have to check with our engineering.

[2022-05-10 10:29] Lennonka opened #1261 "Image files cleanup"
The cleanup should encompass:

1. Moving images from guide folders to `common/images`
2. Renaming files to follow a convention so that they are distinguishable per product and make the file names descriptive
3. Updating include paths accordingly

We should agree on a naming convention for image files. [guides/README](https://github.com/theforeman/foreman-documentation/blob/master/guides/README.md)

[2022-05-10 12:26] maximiliankolb opened #1263 "Hammer commands for content export/import broken"
Hi.

I think various Hammer commands are broken. I have tested the following command on Foreman 2.3, 2.5, 3.1, and 3.2:

[code]

source: guides/common/modules/proc_exporting-a-repository.adoc

[2022-05-13 10:40] Lennonka opened #1272 "3.3 build broken due to link check"
Hi,
A cherry-pick that I did to 3.3 is breaking the build.
The linkchecker-tryer fails on the URL: https://yum.theforeman.org/client/3.3/

I don't know what that is or how to fix it.

Blame commit: https://github.com/theforeman/foreman-documentation/commit/8494e6b6af9e9f23022fb1349bc37cfb4ddb6065

[2022-05-13 10:40] Lennonka commented on #1272
@maximiliankolb Would you mind taking a look at it, please?

[2022-05-13 10:55] maximiliankolb commented on #1272
This is an expected failure because the clients for Foreman 3.3 have not been released yet. However, branching for 3.3 was necessary to provide documentation for the RC phase. I would just wait until Foreman 3.3 is released and this directory will exist.

To fix this with a linkchecker exception:

[code]

However, looking at the URL, it's already here, meaning the Pipeline should not fail any more

[2022-05-13 11:00] maximiliankolb commented on #1272
It's working again without any change necessary: https://github.com/theforeman/foreman-documentation/actions/runs/2315608189

[2022-05-13 11:00] #1272 closed

[2022-05-18 12:29] #1184 closed

[2022-05-18 14:48] maximiliankolb opened #1277 "Performance Tuning Guide not in navigation"
The new guide is still missing in the navigation.

Link: https://docs.theforeman.org/nightly/Performance_Tuning_Guide/index-foreman-el.html

[2022-05-19 11:40] maximiliankolb commented on #1277
FYI: Some files are only included in scenarios with Katello: https://docs.theforeman.org/nightly/Performance_Tuning_Guide/index-katello.html

[2022-05-31 11:17] Lennonka opened #1295 "Change letter casing to comply with the new GUI conventions"
Based on discussion https://github.com/theforeman/foreman-documentation/pull/1290#discussion_r882913764 about Content Views, we should modify letter casing of some terms to make it consistent with UX changes.

However, we should consider unifying not just "content views", but also other terms, such as "repository", "product" and other.
Requires a more detailed analysis and discussion.
TBD for whic

[2022-05-31 12:45] melcorr commented on #1295
@maximiliankolb hope this is OK: https://community.theforeman.org/t/title-or-sentence-case-for-terms-in-foreman-katello/28837?u=mcorr
Feel free to ask for more.

[2022-06-14 16:03] ianballou opened #1317 "Katello upgrade docs only show repository options for EL7"
There's no option for EL8.

![image](https://user-images.githubusercontent.com/14796566/173623574-515fbc30-336a-4eda-b526-1e390ac187b8.png)

There is an option for EL8 for the smart proxy upgrade below, however.

[2022-06-15 15:27] Lennonka commented on #954
@maximiliankolb I could use your help with the script to update the guide references, because we're really tight on schedule. Do you think you could help?

[2022-06-15 15:30] Lennonka commented on #954
But that unity does not concern guide titles, only UI labels. In my opinion, we don't have to wait.

[2022-06-15 15:35] Lennonka commented on #954
@melcorr You most certainly are not :))

[2022-06-15 17:25] maximiliankolb commented on #954
Yes, I can help for sure on Monday. If it's just 'replace X with Y', then it should be very doable.

[2022-06-15 17:30] Lennonka commented on #954
Absolutely, just a tip to observe several patterns as we've discussed earlier.

[2022-06-15 17:59] maximiliankolb commented on #954
can you assemble a short "old" vs "new" list? Or tell me where I can find it/what's it gonna look like? one or two examples might be sufficient.

[2022-06-23 22:25] Lennonka commented on #1295
Adding a term for discussion: Host

[2022-06-24 00:55] Lennonka commented on #954
Pattern samples for Phase 2:

OLD
- `<URL with an anchor and a title> in the _Managing Hosts_ guide`
- `[Ss]ee the {ManagingHostsDocURL}[_Managing Hosts_] guide`

NEW
- `<URL with an anchor and a title> in _{ManagingHostsDocTitle}_`
- `[Ss]ee {ManagingHostsDocURL}[_{ManagingHostsDocTitle}_]`

Observe for each guide/title. Also, the words "guide" and the "the" article might be present or absent, de

[2022-06-24 11:03] Lennonka commented on #954
@maximiliankolb Will that^^ suffice or would you like smoe more? :)

[2022-06-24 11:46] maximiliankolb commented on #954
@Lennonka  Yes, thanks, that'll do for now. I am already working on it, but there's much much more variations for a single DocURL ... I will share my draft later today.

[2022-06-30 10:59] adamruzicka opened #1388 "Steps for upgrading a Smart Proxy are hidden behind katello,satellite ifdefs"
Doc in question https://github.com/theforeman/foreman-documentation/blame/master/guides/doc-Upgrading_and_Updating/topics/upgrading_capsule_server.adoc
The ifdef begins on L43 and ends at L88.

To be fair, the block does include some steps which are katello/satellite-specific, but in "vanilla Foreman" scenario, nothing tells you to update repositories, update packages and so on.

[2022-07-05 11:47] ekohl commented on #1277
There are still quite a few issues with this guide. First of all, I opened https://github.com/theforeman/foreman-documentation/pull/1408 but that's just nightly.

Rendering also looks broken on https://docs.theforeman.org/nightly/Performance_Tuning_Guide/index-foreman-el.html#Configuring%20Puma%20Workers_performance-tuning

Not enough: https://github.com/theforeman/foreman-documentation/pull/1410

[2022-07-05 11:48] ekohl commented on #1277
https://docs.theforeman.org/nightly/Performance_Tuning_Guide/index-foreman-el.html#Top_Performance_Considerations_performance-tuning still lists "Configure Hammer to reduce API timeouts" for which there are no instructions.

[2022-07-06 11:15] maximiliankolb opened #1417 "Unused file "con_how-to-use-iss-based-on-your-network-setup.adoc""
I found a file in master, 3.3, 3.2, and 3.1 that is present but unused. cc @Lennonka

[2022-07-06 11:50] Lennonka commented on #1417
Yeah, that's an outdated draft, I'll file a PR for removal.

[2022-07-06 12:06] #1417 closed, assigned to nobody

[2022-07-07 11:45] Lennonka opened #1423 "Improving typography - en dashes"
I merged the PR #1358 the other day to give an example how typography can be improved in the docs.
Good typography makes the content look more professional and easier to read.

This focuses on dashes specifically, see also [How to use dashes](https://www.grammarly.com/blog/dash/).

Now we need to apply the new attributes where appropriate (in the following order of precedence):

- range: replace `

[2022-07-07 12:22] maximiliankolb commented on #1423
I've already tried something like `find guides -type f -iname "*.adoc" | xargs sed -i "" "s/ - /{range}/g"`, but the task is actually a bit more complex.

[2022-07-15 07:10] maximiliankolb opened #1456 "Poll: Rename "Microsoft Azure Resource Manager" to "Microsoft Azure"?"
Hey!
I am currently working on bringing content on different compute resource providers upstream. See https://github.com/theforeman/foreman-documentation/pull/1455 (_draft_ as of 2022-08-15!).

I would like to **shorten** the name of the Azure CR to align with EC2 and GCE:

* Amazon EC2
* Google GCE
* Microsoft Azure

Is that acceptable for you? Do you have any other insight to why or why not to d

[2022-07-15 10:21] ekohl commented on #1456
I'm not sure on this. First of all, the plugin in question is https://github.com/theforeman/foreman_azure_rm and I'm pretty sure the gemspec description is used in the plugin overview in the UI. That's https://github.com/theforeman/foreman_azure_rm/blob/056f16eed081609cf1eace9fff20b5288f4634ea/foreman_azure_rm.gemspec#L10 (or `Azure Resource Manager as a compute resource for The Foreman` if you do

[2022-07-15 11:25] maximiliankolb commented on #1456
It's actually named "Azure Resource Manager", but not the summary you've linked.

See my screenshots based on Foreman 3.3.0:
<img width="642" alt="Screenshot 2022-07-15 at 13 18 43" src="https://user-images.githubusercontent.com/12595287/179213432-71a38ee4-4e2f-448f-9af8-6e3acb6ec612.png">

![plugins_tab](https://user-images.githubusercontent.com/12595287/179214082-d10f58d9-864d-4931-a8a8-6d78ce57

[2022-07-15 13:04] evgeni commented on #1456
To add more confusion, the installer does name the plugin azure, not azure_rm:

https://github.com/theforeman/puppet-foreman/blob/master/manifests/plugin/azure.pp

[2022-07-18 06:22] ekohl commented on #1456
To be clear on my position: I think simply making it Microsoft Azure is probably fine, but I think things should be aligned (unlike the current situation).

[2022-07-19 12:15] maximiliankolb opened #1471 "PDF does not built due to Satellite-specific l10n markers"
GHA: https://github.com/theforeman/foreman-documentation/runs/7408792888?check_suite_focus=true

[code]
cc @mdolezelova @Lennonka

[2022-07-19 12:28] Lennonka commented on #1471
Oh. Perhaps we should add a condition around these markers? That would help, right?

[2022-07-19 12:36] maximiliankolb commented on #1471
We already have a condition to make it satellite only:

[code]

Maybe the solution is to not build the PDF for Satellite?

[2022-07-19 13:35] ekohl commented on #1471
I don't know the tool that parses it, but can't you write it as a comment? `// [l10n-exclude-start]`

[2022-07-19 13:51] Lennonka commented on #1471
Okay, and how about including the l10n stuff only for HTML deliverables? We only need it for multi-page.

[2022-07-19 14:29] Lennonka commented on #194
I believe this was resolved with PR #1230 and we can close it. Ack?

[2022-07-19 15:38] mdolezelova commented on #1471
Hi @maximiliankolb, @evgeni , @lennonka, thank you for the heads-up. The marks are needed for the localization team. If we comment them out, their scripts will not work. As Lena has mentioned, the feedback modules are only needed for HTML deliverables, so please feel  free to remove them from PDF deliverables.

[2022-07-20 08:12] lzap commented on #194
Thank you!

[2022-07-20 08:12] #194 closed

[2022-07-22 20:12] maximiliankolb opened #1478 "Set RHEL attribute to "Enterprise Linux" for foreman-el and katello"
I propose two changes: "reword" the `RHEL` attribute to `EL` (cosmetic, invisible change) and for build targets "foreman-el" and "katello", set it to `Enterprise Linux`, which then resolves to "Enterprise Linux 7" and "Enterprise Linux 8". This is IMHO better than saying "CentOS 8" which is dead.

source: [comment in "Katello support for RHEL 8?"](https://community.theforeman.org/t/katello-support

[2022-07-24 09:59] ekohl commented on #1478
That was my roughly intention with https://github.com/theforeman/foreman-documentation/pull/982. However, there I kept `RHEL` for when it really meant RHEL and changed `{RHEL}` to `{EL}` whenever it could. In Satellite `{EL}` expands to `{RHEL}`.

[2022-07-25 14:41] maximiliankolb opened #1486 "Building PDF for 3.2 is broken"
I think this is due to wrong paths for images:

[code]

<img width="865" alt="Screenshot 2022-07-25 at 16 34 06" src="https://user-images.githubusercontent.com/12595287/180802678-73edbb5c-5d93-4579-90d1-612422cc2427.png">

[code]

See https://github.com/theforeman/foreman-documentation/runs/7502114662?check_suite_focus=true

my patch for two out of three images:

[code]

[2022-07-25 16:27] Lennonka commented on #1486
Is the HTML output rendering correctly after your fix? I had some issues with it before we merged it.

[2022-07-25 19:59] Lennonka commented on #1486
Resolved.

[2022-07-25 19:59] #1486 closed

[2022-07-25 20:35] maximiliankolb commented on #1486
Thanks for fixing this!

[2022-07-27 12:04] maximiliankolb commented on #1456
Maybe "streamlining" the naming scheme is a bad idea. There is a second Foreman plugin for Google GCE on the horizon: https://github.com/theforeman/foreman_google

* `foreman-installer --enable-foreman-plugin-google`
* `foreman-installer --enable-foreman-compute-gce`

[2022-07-27 13:35] chris1984 commented on #1456
Yeah seeing this, I vote we just keep it how it is.

[2022-07-27 16:00] maximiliankolb commented on #1456
Closing this; let's keep the existing chaos 🙃

[2022-07-27 16:00] #1456 closed

[2022-08-01 09:44] maximiliankolb opened #1508 "Remove unnecessary comma"
See https://github.com/theforeman/foreman-documentation/pull/982#discussion_r934334869

[2022-08-02 06:39] maximiliankolb commented on #1471
I've reverted this change, so again, friendly reminder that this is still unresolved.

[2022-08-03 12:34] Lennonka commented on #1471
Do we alreadz have some kind of attribute or conditional for PDF output? Or do we need to introduce one?

[2022-08-03 13:14] maximiliankolb commented on #1471
I am not aware of anything like this; but maybe you can also try Ewouds suggestions in prefixing `// ` so that it's technically speaking a comment. 🤷

[2022-08-04 11:16] ekohl commented on #1217
Instead of an issue tracking various tasks I've created https://github.com/theforeman/foreman-documentation/milestone/2 and will close this.

[2022-08-04 11:16] #1217 closed

[2022-08-09 12:11] maximiliankolb commented on #1471
So you can apparently use internal attributes in `ifeval`, maybe this will help:

`ifeval::["{backend}" == "html5"]`
see https://docs.asciidoctor.org/asciidoc/latest/directives/ifeval/

Maybe it's also Antora-only: https://docs.antora.org/antora/latest/page/attributes/#built-in-attributes

[2022-08-11 10:01] maximiliankolb opened #1552 "Build failing for 3.4 due to missing yum repos"
Hey all!

We currently cannot build documentation for Foreman 3.4 because the yum repos are missing on yum.theforeman.org. We've had this before in the RC phase.

We can either igore broken links to `https://yum.theforeman.org/client/3.4/` or sit this one out until the repos are present.

In general, I feel like this calls for a slight reordering in the release process.

cc @upadhyeammit or someon

[2022-08-11 10:02] maximiliankolb commented on #1552
See https://github.com/theforeman/foreman-documentation/runs/7784466419?check_suite_focus=true

[2022-08-11 11:04] ekohl commented on #1552
We always have these kinds of issues around branching and release. It's hard to get the order exactly right.

What we typically do is:
* Create all branches
* Start the release process

IMHO the problem is that these are spread out over too long a time. It should be possible to do everything in a single day, but because we spread it over multiple people in multiple time zones things take longer th

[2022-08-17 11:32] maximiliankolb opened #1567 "Delete old guides on docs.theforeman.org"
We currently do not delete old guides on docs.theforeman.org.

example in the wild: [Foreman Community Forum](https://community.theforeman.org/t/ubuntu-repo-sync-not-working/29950/6?u=maximilian) I suspect there are many more community users that don't actually access the most up to date documentation.

I would kindly ask someone with access to the web server to do a one-time manual cleanup by rem

[2022-08-18 11:37] Lennonka commented on #1471
Done.

[2022-08-18 11:49] Lennonka commented on #1471
Damn, I messed up by cherry-picking only one commit. Hang on, I'll try to fix it.

[2022-08-18 12:01] Lennonka commented on #1471
Phew. The commits are in reverse order comparing to master, but it looks fine now. At least the PDF build is passing on 3.1--3.4 branches.

[2022-08-18 12:01] #1471 closed

[2022-08-31 16:47] #1567 closed

[2022-08-31 16:48] ekohl commented on #1552
It has since been created. I'm going to close this for now.

[2022-08-31 16:48] #1552 closed

[2022-08-31 16:48] ekohl commented on #1005
This has been done.

[2022-08-31 16:48] #1005 closed

[2022-08-31 16:49] ekohl commented on #790
Given these old Katello versions are end of line, can this be closed now. AFAIK current versions do have it.

[2022-08-31 16:50] ekohl commented on #746
Is this still an issue?

[2022-08-31 16:52] ekohl commented on #646
By now we've trimmed down the list of guides. I still think it can be improved, but I think it's no longer messy. Going to close this for now.

[2022-08-31 16:52] #646 closed

[2022-09-01 06:59] maximiliankolb commented on #746
It's specific to RHs framework to build/deliver docs. I don't know.

[2022-09-01 12:11] #746 closed, assigned to nobody

[2022-09-05 17:33] Lennonka commented on #954
I'm wondering if we should mention the conventions that arise from this issue somewhere? Or are we good to close it?

[2022-09-06 06:28] maximiliankolb commented on #954
Good idea, I will create a small PR to extend our conventions!

[2022-09-07 06:00] #954 closed

[2022-09-07 13:32] jeremylenz commented on #1263
Repository exports were added in https://projects.theforeman.org/issues/34374 which is in Katello 4.5 / Foreman 3.3.

[2022-09-07 13:34] jeremylenz opened #1609 "Missing upstream doc for updating Foreman/Katello"
The section on updating to latest z-stream seems to be missing for upstream:

https://docs.theforeman.org/3.4/Upgrading_and_Updating/index-katello.html#updating_project

raised in https://community.theforeman.org/t/documentation-for-updating-foreman/30278

[2022-09-13 18:23] lzap commented on #842
I would say this is a low-priority, feel free to pick it up, thanks.

[2022-09-16 11:10] Levi-Leah opened #1635 "Should the note about deleting/removing CV be there?"
file: guides/common/modules/proc_creating-a-content-view.adoc

[code]

Additional info: https://github.com/theforeman/foreman-documentation/pull/1634/files/37f249bc6bdff0065244b4e377507550d7411634#r972662116

[2022-09-21 13:39] Lennonka commented on #1261
@maximiliankolb I'd love to have your input! :)

[2022-09-21 14:32] ekohl commented on #1261
Just some infrastructure considerations. Don't let that hold you back too much, but take them into account.

I do have a concern that the images end up in every single guide. That makes the gh-pages branch even larger than it is today. I'd love to see some deduplication here, but right now I'm not sure how to achieve that. Perhaps with symlinks or some smarter solution.

I love conventions, but we

[2022-09-21 14:47] maximiliankolb commented on #1261
It's not really something that I have currently on my plate, but collecting *all* images in one folder seems like a good idea to me; I'd help/support doing that. This could also contain some manual deduplication.

Also, SVGs are generally smaller than PNG files.

Maybe not smylink the "common images" dir to every guide, but instead traverse back `../` to the "common images" dir?

[2022-09-22 11:28] Lennonka commented on #1261
@ekohl Could we pull the renamed/deleted files from git to update/purge them on deploy? Not sure how to implement it, but git (commits) has the relevant data to do that kind of update, doesn't it?

[2022-09-22 11:32] Lennonka commented on #1261
@maximiliankolb How would that help us to use backward paths instead of the symlinks? Additionally, I'm not sure how backward paths behave in our downstream build. I'm worried that the symlinks are there for a reason.

[2022-09-22 11:35] ekohl commented on #1261
I've looked at that, but this would require some tweaking:
https://github.com/theforeman/foreman-documentation/blob/6354c7b97978cff64d936985bdb7641b172e9fab/.github/workflows/deploy.yml#L314-L319

One possible approach would be to check out the `gh-pages` branch and then update as needed.

[2022-09-22 11:58] maximiliankolb commented on #1263
Fixed for 3.3+: https://github.com/theforeman/foreman-documentation/pull/1612

[2022-09-22 11:58] #1263 closed

[2022-09-27 15:33] adamlazik1 opened #1658 "/vendor directory missing in .gitignore on some branches"
I have noticed that while the `/vendor` directory is included in the `.gitignore` file on master and on the  3.3 branch, it is missing from the file on 3.2, 3.1, 2.5, and possibly other branches (I have not checked all). This is problematic when creating PR against the specific branch and using `git add .` to add changed files to the staging area, because it adds unwanted files included in the `/v

[2022-09-27 15:55] ekohl commented on #1658
Yes, you do exactly that.

[2022-09-27 15:57] adamlazik1 commented on #1658
Alright, thanks!

[2022-09-27 15:57] #1658 closed

[2022-09-28 20:26] Lennonka commented on #1261
I misunderstood what you meant before.
How about a script at the end of the deploy that will do this for each guide: Read what images are used from GUIDE/index-*.html and delete everything that is not used under GUIDE/images/common. That shouldn't be that difficult.

[2022-10-03 14:52] adamlazik1 opened #1674 "Documenting hammer commands"
Is there any guide to document new hammer commands in upstream?
For example, you can now use `hammer simple-content-access status` to check if SCA is enabled on your organization as an alternative to checking it in the Project web UI or `hammer host subscription enabled-repositories` to list enabled repositories on the host. Should this be reflected somewhere in the docs? I know Satellite Downstre

[2022-10-03 18:03] Lennonka commented on #1674
In upstream, we sometimes add a "CLI Procedure" as an alternative to a webUI-based procedure to the same module.

@melcorr Is it desirable to bring the [Hammer CLI Guide](https://access.redhat.com/documentation/en-us/red_hat_satellite/6.11/html/hammer_cli_guide/index) upstream?

I'm not sure where we currently stand on bringing the _Hammer CLI guide_ upstream regarding our internal priority.
If Me

[2022-10-03 18:05] Lennonka commented on #1674
Example of a "CLI Procedure": https://docs.theforeman.org/3.3/Provisioning_Hosts/index-foreman-el.html#setting-the-provisioning-context_provisioning

[2022-10-03 21:11] melcorr commented on #1674
100%
Please do.

Ar Luan 3 DFómh 2022 ag 19:05, scríobh Zuzana Lena Ansorgová <
***@***.***>:

--

Melanie Corr

Community Manager

Red Hat <https://www.redhat.com>

Remote, Ireland

***@***.***
M: +353857774436     IM: mcorr
<https://www.redhat.com>

[2022-10-04 13:49] Lennonka commented on #1261
We might want to wait with this for implementation of Antora #873 if it does deduplication natively. (As discussed with @ekohl)

[2022-10-07 12:36] maximiliankolb commented on #1689
Thanks @dreua for reporting this issue. I will check if this is still the case and create a fix if necessary.

[2022-10-12 13:46] #1261 closed

[2022-10-25 13:46] #1423 closed

[2022-11-08 10:03] adamlazik1 opened #1759 "Checking Links in published documentation"
I have noticed that despite having linkchecker we are getting bug reports about invalid links in the existing documentation. For example, [BZ#2139221](https://bugzilla.redhat.com/show_bug.cgi?id=2139221).
I have created a simple script that checks html files for links, validates them using curl, and returns any links for which the request returned any other code than 200 (meaning an error happened

[2022-11-08 10:36] adamlazik1 commented on #1759
Nevermind all that!
After six hours of yesterday's work, I learned that linkchecker does work if you specify it in the make like this: `make linkchecker BUILD=satellite`. HOWEVER, it is strange that it does not seem to detect all the links. make `linkechecker BUILD=satellite` on 3.1 branch in doc-Upgrading_and_Updating checks 29 URLs, while a grep search for different URLs returns 38, so my work m

[2022-11-08 10:59] ekohl commented on #1759
This is configured via the ignore option in linkchecker.ini:
https://github.com/theforeman/foreman-documentation/blob/eb0b825d2a29c3bf0d195f8a854da375037073be/guides/common/linkchecker.ini#L7-L23

As you can see, it ignores 6.11. In https://github.com/theforeman/foreman-documentation/commit/feb42e7f1ddd90f3e1897cddf8a69c8f74741af2 I turned it on for 3.1.

https://github.com/theforeman/foreman-docu

[2022-11-08 12:12] adamlazik1 commented on #1759
Still, not all the links are checked for the 3.1 branch as can be seen from the output above. Nevertheless I can take over #1750 if you wish, but the work will probably be postponed because I will be less active in the coming days.

[2022-11-08 14:17] adamlazik1 commented on #1759
I tested this on 3.1 for the Upgrading guide. Here are the commands that I used and the output:
[code]
Attaching the two output files.

[grepped-urls.txt](https://github.com/theforeman/foreman-documentation/files/9961946/grepped-urls.txt)
[linkchecker-checked-urls.txt](https://github.com/theforeman/foreman-documentation/files/9961947/linkchecker-checked-urls.txt)

[2022-11-08 16:05] ekohl opened #1766 "Update proc_installing-the-discovery-service.adoc"
For Satellite/Orcharhino it tells uses to install `tfm-rubygem-smart_proxy_discovery` but that should be `rubygem-smart_proxy_discovery` on EL8. That also needs to be backported to stable releases.

Then for upstream it downloads http://downloads.theforeman.org/discovery/releases/3.5/ but that's not the latest release. In fact, there is a `/latest` there and that's the default so I wonder if we sh

[2022-11-08 16:07] ekohl opened #1767 "Make contributors consistent and document it in the procedure"
Right now the contributor lists in the release notes are either missing or all in different styles. This should be unified.

Additionally, it needs to be documented in the README so it isn't forgotten when branching. Ideally with a script or easy way to obtain the contributors.

[2022-11-09 15:33] ekohl commented on #1767
Note to self: we can probably reduce it down to a single list of contributors that includes both Foreman and Katello. No need to separate that to two chapters.

[2022-11-11 16:04] ekohl commented on #1767
Today the contributors are generated from https://github.com/theforeman/theforeman.org/blob/gh-pages/scripts/committers.rb but it uses an outdated list of repositories. I already started with https://ekohl.github.io/foreman-plugin-overview/ ([src](https://github.com/ekohl/foreman-plugin-overview)) to get an overview of all repositories of what's included in a Foreman release. It's still incomplete

[2022-11-14 11:43] ekohl commented on #1767
https://github.com/theforeman/foreman-documentation/pull/1789#discussion_r1021373060 should also be addressed.

[2022-11-17 11:24] ekohl opened #1821 "Reflect foreman-gce replacement (by foreman_google)"
In Foreman 3.5 the `foreman-gce` package has been replaced by the `foreman_google` plugin. At least `guides/common/modules/proc_uninstalling-google-gce-plugin.adoc` needs to be updated to reflect this, but probably more.

[2022-11-18 14:24] adamlazik1 opened #1831 "Valid URLs failing html checks"
I have noticed in the past couple of days that valid URLs fail the html checks. Not any specific URLs also, but each time they seem to be random.
As an example, in the last check in #1830 it was these URLs:
http://mirror.stream.centos.org/9-stream/BaseOS/x86_64/
https://www.postgresql.org/docs/current/runtime-config-logging.html
Both of them are valid.

Do we have any idea what is causing this iss

[2022-11-21 17:16] ekohl commented on #1831
This is a side effect of https://github.com/theforeman/foreman-documentation/commit/babc9d068e0121fd9f42df2574adf8476c0ac6b8. Sadly the linkchecker-tryer package is not compatible with Python 3 and unmaintained since at least 7 years. https://github.com/linkchecker/linkchecker/issues/263 is open to implement it in linckecker itself.

Looking at how simple linkchecker-tryer is we could actually eas

[2022-11-22 11:08] #1831 closed

[2022-11-29 16:15] ekohl opened #1850 "Document foreman's trusted_proxies setting"
We already have it described in https://github.com/theforeman/foreman-documentation/blob/master/guides/common/modules/proc_using-vmware-cloud-init-and-userdata-templates-for-provisioning.adoc (at the end, can't link directly) and https://github.com/theforeman/foreman-documentation/blob/master/guides/common/modules/proc_provisioning-ubuntu-autoinstall-through-smart-proxies.adoc.

One thing to know

[2022-11-30 14:24] evgeni commented on #1766
@ekohl I think that can now be closed?